Repository nrfconnect/sdk-zephyr, pull requests merged in 2019-10, with the labels that each got.

#222 [nrf fromtree] Test: Settings: Fix FCB delete test
  tests/subsys/settings/fcb/src/settings_test_delete_fcb.c
Labels: bug

#212 [nrf noup] ci: use ci-tools in west manifest
  Jenkinsfile
Labels: DNM

#225 [nrf fromlist] cmake: ensure zephyr_module.py creates posix path output
  scripts/zephyr_module.py
Labels: backport v2.0.99-ncs1-branch
