Repository nrfconnect/sdk-zephyr, pull requests merged in 2021-12, with the labels that each got.

#663 [nrf fromtree] Bluetooth: Adds preprocessor to L2CAP tester app
  tests/bluetooth/tester/src/l2cap.c
Labels: area: Bluetooth Host, area: Tests

#676 [nrf fromtree] logging: Fix tracking of active messages
  subsys/logging/log_core.c
Labels: bug, area: Logging

#682 [nrf fromlist]: samples: echo_server: increase sys workqueue stack
  samples/net/sockets/echo_server/overlay-802154.conf
Labels: area: Samples, area: Networking

#677 [nrf noup] dts: silence warning for cryptocell_sw
  dts/arm/nordic/nrf5340_cpuappns.dtsi
  dts/arm/nordic/nrf9160ns.dtsi
Labels: area: Devicetree
