Repository nrfconnect/sdk-zephyr, pull requests merged in 2021-09, with the labels that each got.

#601 [nrf fromtree] net: openthread: Add capability to disable properly CSL
  drivers/ieee802154/ieee802154_nrf5.c
  subsys/net/lib/openthread/platform/radio.c
Labels: area: Networking

#611 [nrf fromtree] shell: uart: Add waiting on DTR signal before sending …
  subsys/shell/Kconfig.backends
  subsys/shell/shell_uart.c
Labels: area: Shell

#615 [nrf fromtree] doc: getting_started: Fix incorrect literal block usage
  doc/getting_started/index.rst
Labels: area: Documentation

#622 [nrf fromlist] drivers: nrf5: fixes for the CSL Receiver
  drivers/ieee802154/ieee802154_nrf5.c
Labels: bug, area: Networking

#625 [nrf fromlist] drivers: pwm: Restore default on re-initialization
  drivers/pwm/pwm_nrfx.c
Labels: area: PWM
