Repository nrfconnect/sdk-zephyr, pull requests merged in 2021-11, with the labels that each got.

#652 [nrf fromtree] Bluetooth: Disconnect L2CAP channel if peer sent too m…
  subsys/bluetooth/host/conn.c
  subsys/bluetooth/host/l2cap.c
  subsys/bluetooth/host/l2cap_internal.h
Labels: area: Bluetooth, area: Bluetooth Host

#655 TF-M: crypto modules update
  modules/trusted-firmware-m/CMakeLists.txt
  modules/trusted-firmware-m/Kconfig.tfm.crypto_modules
Labels: area: Modules

#648 [nrf fromtree] storage/flash_map: Add FLASH_AREA_DEVICE macro
  include/storage/flash_map.h
  samples/subsys/nvs/src/main.c
  tests/subsys/storage/flash_map/src/main.c
Labels: area: API, area: Samples, area: Tests

#665 [nrf fromtree] openthread: upmerge up to commit c02d1110
  west.yml
Labels: manifest, west, manifest-openthread, area: Modules

#657 [nrf fromtree] Bluetooth: Host: avoid runtime warning in bt_enable
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth, area: Bluetooth Host, area: Timer

#666 [nrf fromlist] ipc: use highest coop priority for IPM workqueue
  subsys/ipc/rpmsg_service/rpmsg_backend.c
Labels: bug

#664 [nrf fromtree] soc: nordic_nrf: Add Kconfig option for enabling trace port
  modules/hal_nordic/nrfx/CMakeLists.txt
  soc/arm/nordic_nrf/Kconfig
Labels: area: Modules

#642 [nrf fromtree] scripts: support for build meta file creation
  CMakeLists.txt
  Kconfig.zephyr
  cmake/app/boilerplate.cmake
  scripts/zephyr_module.py
Labels: area: Build System, area: Kconfig

#640 [nrf noup] net: socket_ncs: remove PDN socket and related macros
  include/net/socket_ncs.h
Labels: DNM, area: API, area: Networking
