Repository nrfconnect/sdk-zephyr, pull requests merged in 2022-10, with the labels that each got.

#915 [nrf noup] net: ip: Fix nRF Wi-Fi management events
  subsys/net/ip/net_private.h
Labels: area: Networking

#927 net: wifi: Add support for WPA supplicant
  subsys/net/ip/Kconfig.stats
  subsys/net/ip/net_private.h
  subsys/net/l2/wifi/wifi_mgmt.c
Labels: area: Networking

#923 [nrf fromtree] tfm: Update TF-M for fix to return error code with inv…
  west.yml
Labels: manifest, west, manifest-trusted-firmware-m, manifest-tf-m-tests

#949 [nrf noup] ci: clang: Use ubuntu-latest instead of zephyr_runner
  .github/workflows/clang.yaml
Labels: area: Continuous Integration

#952 [nrf noup] ci: clang: Remove incorrect zephyr path
  .github/workflows/clang.yaml
Labels: area: Continuous Integration

#950 [nrf fromtree] net: lwm2m: use zsock_ functions
  subsys/net/lib/lwm2m/Kconfig
  subsys/net/lib/lwm2m/lwm2m_engine.c
  subsys/net/lib/lwm2m/lwm2m_message_handling.c
Labels: area: LWM2M

#951 [nrf fromtree] net: ip: Speed up the IP/UDP/TCP checksum calculation
  subsys/net/ip/net_private.h
  subsys/net/ip/utils.c
Labels: area: Networking

#939 [nrf noup] bluetooth: increase discaradable buffer size
  subsys/bluetooth/common/Kconfig
Labels: area: Bluetooth

#953 sample: tfm_regression_test: Sample.yaml fixes
  samples/tfm_integration/tfm_regression_test/prj.conf
  samples/tfm_integration/tfm_regression_test/sample.yaml
Labels: area: TF-M

#922 [backport-v2.1][nrf fromtree] twister: fix bug retrieving subtests
  scripts/pylib/twister/twisterlib/testplan.py
  scripts/tests/twister/test_testplan_class.py
Labels: area: Twister
