Repository nrfconnect/sdk-zephyr, pull requests merged in 2022-05, with the labels that each got.

#791 [nrf fromtree] dts: arm: nordic: nrf5340: clean up ipc in dts
  dts/arm/nordic/nrf5340_cpuapp.dtsi
  dts/arm/nordic/nrf5340_cpuapp_ipc.dtsi
  dts/arm/nordic/nrf5340_cpuapp_peripherals.dtsi
  dts/arm/nordic/nrf5340_cpuappns.dtsi
  dts/arm/nordic/nrf5340_cpunet.dtsi
  samples/subsys/ipc/ipc_service/icmsg/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/subsys/ipc/ipc_service/icmsg/remote/boards/nrf5340dk_nrf5340_cpunet.overlay
  samples/subsys/ipc/ipc_service/static_vrings/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/subsys/ipc/ipc_service/static_vrings/remote/boards/nrf5340dk_nrf5340_cpunet.overlay
Labels: area: Samples, area: Devicetree

#792 [nrf noup] Bluetooth: Mesh: Remove Experimental tag
  subsys/bluetooth/mesh/Kconfig
Labels: area: Bluetooth, area: Bluetooth Mesh

#716 [nrf noup] linker: only add Sx labels if SECURE_BOOT is enabled
  include/zephyr/arch/arm/aarch32/cortex_m/scripts/linker.ld
Labels: area: API, area: ARM

#798 [nrf fromtree] kernel/workq: Cleanup bespoke reschedule point
  kernel/work.c
Labels: area: Kernel

#800 Lwm2m SenML CBOR range
  subsys/net/lib/lwm2m/lwm2m_rw_senml_cbor.c
Labels: area: Networking

#812 [nrf fromtree] ipc_service: static_vrings: Set WQ default type to PRI…
  dts/bindings/ipc/zephyr,ipc-openamp-static-vrings.yaml
  subsys/ipc/ipc_service/backends/ipc_rpmsg_static_vrings.c
Labels: area: Devicetree, area: Devicetree Binding

#796 [nrf fromlist] lib: os: cbprintf: Reduce stack usage when no optimization
  include/zephyr/sys/cbprintf_internal.h
Labels: area: API

#815 bluetooth: att: Fix L2CAP channel section order
  subsys/bluetooth/host/att.c
Labels: area: Bluetooth, area: Bluetooth Host

#817 [nrf fromlist] doc/releases/3.1: Add notes on MCUMGR to zcbor
  doc/releases/release-notes-3.1.rst
Labels: area: Documentation, Release Notes

#820 subsys: nvs: Increased default NVS cache size to 512 B.
  subsys/fs/nvs/Kconfig
Labels: bug, area: File System

#821 [nrf fromlist] bluetooth: host: Fix reading current PHY when using ex…
  subsys/bluetooth/host/hci_core.c
Labels: bug, area: Bluetooth, area: Bluetooth Host

#823 linker: remove incorrect check
  include/zephyr/arch/arm/aarch32/cortex_m/scripts/linker.ld
Labels: area: API

#824 tfm: Add option for implementation custom reset handler with TF-M
  modules/trusted-firmware-m/CMakeLists.txt
  modules/trusted-firmware-m/Kconfig.tfm
Labels: area: Modules
