Repository nrfconnect/sdk-zephyr, pull requests merged in 2022-11, with the labels that each got.

#944 [nrf fromtree] net: wifi: Fix MFP when security type is not given
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking

#969 [nrf fromtree] arch: arm: aarch32: cortex_m: fault: Fix SCB->CFSR acc…
  arch/arm/core/aarch32/cortex_m/fault.c
Labels: area: ARM

#977 [nrf fromtree] doc: Add reference labels in getting started doc
  doc/develop/getting_started/index.rst
Labels: area: Documentation

#938 [nrf fromtree] dts: bindings: nordic,nrf21540-fem: add supply voltage…
  boards/arm/nrf21540dk_nrf52840/nrf21540dk_nrf52840.dts
  boards/arm/thingy53_nrf5340/thingy53_nrf5340_cpunet.dts
  dts/bindings/net/wireless/nordic,nrf21540-fem.yaml
Labels: area: Devicetree, area: Devicetree Binding, platform: nRF

#978 Custom role link module
  doc/_extensions/zephyr/link-roles.py
  doc/conf.py
Labels: area: Documentation Infrastructure

#973 [nrf fromtree] net: openthread: implement PSA support for ECDSA API
  modules/openthread/Kconfig.features
  modules/openthread/platform/crypto_psa.c
Labels: manifest-openthread

#976 [nrf fromtree] drivers: flash: spi_nor: add macronix high performance…
  doc/releases/release-notes-3.3.rst
  drivers/flash/spi_nor.c
  dts/bindings/mtd/jedec,spi-nor-common.yaml
  tests/drivers/flash/boards/nrf52840dk_flash_spi.conf
  tests/drivers/flash/boards/nrf52840dk_mx25r_high_perf.overlay
  tests/drivers/flash/prj.conf
  tests/drivers/flash/src/main.c
  tests/drivers/flash/testcase.yaml
Labels: area: Documentation, area: Devicetree Binding, area: Flash, Release Notes

#985 [nrf fromtree] Cherry pick bugfix mcc
  subsys/bluetooth/audio/mcc.c
Labels: area: Bluetooth, area: Bluetooth Audio

#968 [nrf fromlist] net: wifi_mgmt: Add support for power save configuration
  include/zephyr/net/wifi.h
  include/zephyr/net/wifi_mgmt.h
  subsys/net/l2/wifi/wifi_mgmt.c
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking

#984 [nrf fromtree] drivers: uart_nrfx_uarte: Fix call to HW_RX_COUNTING_E…
  drivers/serial/uart_nrfx_uarte.c
Labels: bug, platform: nRF, area: UART

#990 [nrf fromlist] boards: thingy52_nrf52832: Remove regulator sync from vdd-pwr-ctrl
  boards/arm/thingy52_nrf52832/thingy52_nrf52832.dts
Labels: platform: nRF

#971 [nrf noup] boards: thingy53_nrf5340: Add common partition map
  boards/arm/thingy53_nrf5340/pm_static_thingy53_nrf5340_cpuapp.yml
  boards/arm/thingy53_nrf5340/pm_static_thingy53_nrf5340_cpuapp_ns.yml
Labels: platform: nRF

#991 [nrf fromtree] scripts: gen_relocate_app: Fix a typo in parse_input_s…
  scripts/build/gen_relocate_app.py
Labels: bug, area: Build System, area: Userspace

#981 test-spec: matter: update files in CI-matter-test
  .github/test-spec.yml
Labels: area: Continuous Integration

#956 mbedtls: Fix typos and improve prompt-less configuration
  modules/mbedtls/Kconfig.psa
Labels: manifest-mbedtls

#996 [nrf fromtree] Bluetooth: Audio: Fix MCC disconnect issue
  subsys/bluetooth/audio/mcc.c
Labels: area: Bluetooth, area: Bluetooth Audio
