Repository nrfconnect/sdk-zephyr, pull requests merged in 2022-08, with the labels that each got.

#857 [nrf fromtree] ADXL372: add names for KConfig choices
  drivers/sensor/adxl372/Kconfig
Labels: area: Sensors

#864 [nrf noup] include: net: align RAI socket options
  include/zephyr/net/socket_ncs.h
Labels: area: Networking

#836 Fixes needed for removal of flash NOP device from sdk-nrf
  subsys/mgmt/mcumgr/CMakeLists.txt
  subsys/mgmt/mcumgr/Kconfig
  subsys/mgmt/mcumgr/bootutil_hooks/nrf53_hooks.c
Labels: area: API, area: Storage, area: mcumgr

#822 ci: Add Zephyr LWM2M test spec
  .github/test-spec.yml
Labels: area: Continuous Integration

#871 Wifi mgmt updates
  include/zephyr/net/wifi.h
  include/zephyr/net/wifi_mgmt.h
Labels: area: Networking

#881 [nrf fromtree] Bluetooth: gatt: allow disabling subscription enforcement
  subsys/bluetooth/host/Kconfig.gatt
  subsys/bluetooth/host/gatt.c
Labels: area: Bluetooth

#885 [nrf fromtree] Bluetooth: Mesh: Use mesh settings API only if setting...
  subsys/bluetooth/mesh/cdb.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#883 [nrf fromtree] drivers: pinctrl_nrf: Fix nrf_pin_configure() implemen…
  drivers/pinctrl/pinctrl_nrf.c
Labels: area: Pinctrl

#887 [nrf fromtree] Bluetooth: Audio: Fix unicast_client avail ctx dir check
  subsys/bluetooth/audio/unicast_client.c
Labels: area: Bluetooth, area: Bluetooth Audio

#891 [nrf fromtree] Bluetooth: Mesh: Health cli fixes
  subsys/bluetooth/mesh/health_cli.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#892 [nrf fromlist] net: lwm2m: Fixes FOTA update...
  subsys/net/lib/lwm2m/lwm2m_obj_firmware.c
Labels: area: LWM2M

#897 [nrf fromlist] net: lwm2m: Fix LwM2M pause and resume
  subsys/net/lib/lwm2m/lwm2m_engine.c
  subsys/net/lib/lwm2m/lwm2m_rd_client.c
Labels: area: LWM2M

#889 [nrf fromtree] Improvements to scripts/ci/check_compliance.py
  scripts/ci/check_compliance.py
Labels: area: Continuous Integration
