Repository nrfconnect/sdk-zephyr, pull requests merged in 2022-06, with the labels that each got.

#825 [nrf fromtree] tests: arm_thread_swap_tz: Explicitly set the TFM_PROFILE
  tests/arch/arm/arm_thread_swap_tz/prj.conf
  tests/arch/arm/arm_thread_swap_tz/src/main.c
Labels: area: Tests

#826 [nrf fromlist] drivers: ieee802154: nrf5: Fix DRX_ADJUST workaround
  drivers/ieee802154/ieee802154_nrf5.c
  west.yml
Labels: manifest, west, manifest-hal_nordic, area: Modules, area: Networking

#827 [nrf fromlist] drivers: ieee802154: print serialization error on nRF5340
  drivers/ieee802154/ieee802154_nrf5.c
Labels: area: Networking

#833 [nrf noup] samples: mgmt: mcumgr: add hci_rpmsg child image config
  samples/subsys/mgmt/mcumgr/smp_svr/child_image/hci_rpmsg.conf
Labels: area: Samples

#819 [nrf fromtree] samples: subsys: mgmt: smp_svr: Fix dupicate fs mgmt
  samples/subsys/mgmt/mcumgr/smp_svr/src/main.c
Labels: area: Samples
