Repository nrfconnect/sdk-zephyr, pull requests merged in 2022-02, with the labels that each got.

#699 [nrf fromtree] test/subsys/storage/steram_flash: fix build size issue
  tests/subsys/storage/stream/stream_flash/src/main.c
Labels: bug, area: Tests

#710 [nrf noup] net: socket_ncs: remove AT and DFU socket defines
  include/net/socket_ncs.h
Labels: area: API, area: Networking

#717 [nrf fromtree] drivers: flash: nrf_qspi_nor: Fix setting of the base …
  drivers/flash/nrf_qspi_nor.c
  include/drivers/flash/nrf_qspi_nor.h
Labels: bug, area: API

#718 [nrf fromlist] modules: hal_nordic: nrf_802154_irq ZLI support
  modules/hal_nordic/nrf_802154/sl_opensource/platform/nrf_802154_irq_zephyr.c
  west.yml
Labels: manifest, west, manifest-hal_nordic, area: Modules

#709 [nrf_noup]: Disable loading of Kconfig.tls-generic
  modules/mbedtls/Kconfig.tls-generic
  modules/mbedtls/configs/config-tls-generic.h
Labels: area: Samples, area: Modules, area: Networking, area: Tests

#726 [nrf fromlist] drivers: ieee802154_nrf5: fix CSL for multicore devices
  drivers/ieee802154/ieee802154_nrf5.c
Labels: bug, area: Networking

#732 [nrf fromtree] cmake: remove base_name for dep file
  cmake/linker/ld/target.cmake
Labels: area: Build System

#733 [nrf fromlist] Bluetooth: Host: Fix setting long advertising data
  subsys/bluetooth/host/adv.c
Labels: area: Bluetooth, area: Bluetooth Host

#736 [nrf fromlist] twister: short build paths - fix
  scripts/pylib/twister/twisterlib.py
Labels: area: Twister

#743 [nrf fromtree] Bluetooth: L2CAP: Fix checking if LTK is present
  subsys/bluetooth/host/l2cap.c
Labels: area: Bluetooth, area: Bluetooth Host

#744 [v2.7.99-ncs1] Bluetooth: L2CAP: Fix checking if LTK is present
  subsys/bluetooth/host/l2cap.c
Labels: area: Bluetooth, area: Bluetooth Host

#740 [nrf fromlist] doc: application: tweak experimental features text
  doc/application/index.rst
Labels: area: Documentation
