Repository nrfconnect/sdk-zephyr, pull requests merged in 2022-07, with the labels that each got.

#839 samples: tfm: Enumerate more test variants
  samples/tfm_integration/tfm_psa_test/sample.yaml
  samples/tfm_integration/tfm_regression_test/prj.conf
  samples/tfm_integration/tfm_regression_test/sample.yaml
Labels: area: Samples, area: TF-M

#851 [nrf fromtree] ADXL362: add dynamic inact time setting
  drivers/sensor/adxl362/adxl362.c
Labels: area: Sensors

#854 Bluetooth: Host-based Privacy: RPA rotation changes
  include/zephyr/bluetooth/bluetooth.h
  subsys/bluetooth/host/Kconfig
  subsys/bluetooth/host/conn.c
  subsys/bluetooth/host/hci_core.c
  subsys/bluetooth/host/hci_core.h
  subsys/bluetooth/host/id.c
  subsys/bluetooth/host/id.h
Labels: area: Bluetooth

#855 [nrf fromtree] include: drivers: adc: Fix initialization order in ADC…
  include/zephyr/drivers/adc.h
Labels: area: ADC

#856 [nrf fromtree] drivers: ppp: Move to DTS for uart device
  doc/build/dts/api/api.rst
  drivers/net/Kconfig
  drivers/net/ppp.c
Labels: area: Documentation, area: Networking, area: Build System, area: Devicetree
