Repository nrfconnect/sdk-zephyr, pull requests merged in 2022-09, with the labels that each got.

#894 [nrf fromtree] Bluetooth: audio: Cherry pick for ASCS metadata fix
  subsys/bluetooth/audio/ascs.c
Labels: area: Bluetooth, area: Bluetooth Audio

#879 [nrf fromlist]: net: dhcp: Add support for restarting DHCP
  include/zephyr/net/dhcpv4.h
  samples/net/wifi/prj.conf
  subsys/net/ip/dhcpv4.c
Labels: area: Networking

#844 Enable TF-M isolation level 2 by default
  samples/tfm_integration/tfm_regression_test/prj.conf
  samples/tfm_integration/tfm_regression_test/sample.yaml
Labels: area: Samples, area: TF-M

#899 [nrf noup] wifi_stats: Use nRF Wi-Fi management
  subsys/net/ip/Kconfig.stats
Labels: area: Networking

#903 [nrf noup] Bluetooth: BT_L2CAP_ECRED is no longer experimental
  subsys/bluetooth/host/Kconfig.l2cap
Labels: area: Bluetooth

#908 [nrf fromlist] boards/arm/thingy53_nrf5340: Add mcuboot's gpio aliases
  boards/arm/thingy53_nrf5340/thingy53_nrf5340_common.dts
Labels: bug, platform: nRF

#911 [nrf fromtree] modules: hal_nordic: nrf_802154 serialization race condition fix
  modules/hal_nordic/nrf_802154/serialization/platform/nrf_802154_spinel_response_notifier.c
Labels: manifest-hal_nordic

#905 [nrf fromtree] scripts/Kconfig: add dt_node_array_prop Kconfig functions
  scripts/kconfig/kconfigfunctions.py
  tests/misc/kconfigoptions/CMakeLists.txt
  tests/misc/kconfigoptions/Kconfig
  tests/misc/kconfigoptions/native_posix.overlay
  tests/misc/kconfigoptions/prj.conf
  tests/misc/kconfigoptions/src/main.c
  tests/misc/kconfigoptions/testcase.yaml
Labels: area: Kconfig

#918 [nrf fromtree] Update clang workflow
  .github/workflows/bluetooth-tests.yaml
  .github/workflows/clang.yaml
  .github/workflows/codecov.yaml
  .github/workflows/errno.yml
  .github/workflows/footprint-tracking.yml
  .github/workflows/footprint.yml
  .github/workflows/twister.yaml
Labels: area: Continuous Integration
