Repository nrfconnect/sdk-zephyr, pull requests merged in 2022-12, with the labels that each got.

#998 Bluetooth: host: Backport l2cap mps disconnect
  subsys/bluetooth/host/l2cap.c
Labels: bug, area: Bluetooth

#1000 [nrf fromtree] bluetooth: host: smp: unauth bond overwrite on differe…
  subsys/bluetooth/host/Kconfig
  subsys/bluetooth/host/smp.c
Labels: area: Bluetooth

#1002 [nrf fromlist] logging: minimal: Change imply to select for printk
  subsys/logging/Kconfig.mode
Labels: area: Logging

#993 [nrf noup] Update doc of tfm/psa_crypto sample
  samples/tfm_integration/psa_crypto/README.rst
Labels: area: TF-M

#994 [nrf noup] boards: thingy53_nrf5340: Enable MCUboot by default
  boards/arm/thingy53_nrf5340/Kconfig.defconfig
  boards/arm/thingy53_nrf5340/thingy53_nrf5340_common.dts
Labels: platform: nRF

#925 [nrf noup] boards: Enable TF-M by default for Actinius NS boards
  boards/arm/actinius_icarus/Kconfig.defconfig
  boards/arm/actinius_icarus_bee/Kconfig.defconfig
  boards/arm/actinius_icarus_som/Kconfig.defconfig
Labels: CI-trusted-author

#1011 [nrf fromtree] spsc_pbuf: Fix cache wb in spsc_pbuf_free
  lib/os/spsc_pbuf.c
Labels: area: Base OS

#1016 [nrf fromtree] drivers: uart_nrfx_uarte: Prevent re-enabling RX until UART_RX_DISABLED
  drivers/serial/uart_nrfx_uarte.c
Labels: platform: nRF, area: UART
