Repository nrfconnect/sdk-zephyr, pull requests merged in 2022-03, with the labels that each got.

#757 [v2.7.99-ncs1] Thingy53 fixes
  boards/arm/thingy53_nrf5340/thingy53_nrf5340_common.dts
Labels: area: Boards, area: Devicetree

#764 [nrf fromtree] modules: hal_nordic: Improve reservation of resources for BT_CTLR
  modules/hal_nordic/nrfx/nrfx_glue.h
  subsys/bluetooth/controller/ll_sw/nordic/hal/nrf5/nrfx_glue/bt_ctlr_used_resources.h
  subsys/bluetooth/controller/ll_sw/nrf.cmake
Labels: area: Modules, area: Bluetooth, area: Bluetooth Controller

#770 [nrf fromtree] Bluetooth: Host: Fix addr type when syncing using list…
  subsys/bluetooth/host/scan.c
Labels: area: Bluetooth, area: Bluetooth Host
