Repository nrfconnect/sdk-zephyr, pull requests merged in 2022-01, with the labels that each got.

#667 fixup! [nrf noup] tree-wide: support NCS Partition
  subsys/ipc/rpmsg_service/rpmsg_backend.h
Labels: area: Bluetooth, area: Bluetooth Host

#645 [nrf noup] fs: littlefs: Fix automount for partition manager
  subsys/fs/littlefs_fs.c
Labels: bug, area: File System

#696 linker: update posix linker template, linker.ld
  include/arch/posix/linker.ld
Labels: area: API, area: native port

#691 [nrf fromtree] drivers: ieee802154: extend support for nRF53
  drivers/ieee802154/ieee802154_nrf5.c
Labels: area: Networking
