Repository nrfconnect/sdk-zephyr, pull requests merged in 2023-06, with the labels that each got.

#1198 Update bsim nRF HW models
  west.yml
Labels: manifest, manifest-nrf_hw_models

#1189 [nrf fromtree] Bluetooth: controller: Move DF feat selection to...
  subsys/bluetooth/controller/Kconfig.df
  subsys/bluetooth/controller/Kconfig.ll_sw_split
Labels: area: Bluetooth, area: Bluetooth Controller

#1197 [nrf fromtree] net: openthread: Fix `OPENTHREAD_FTD` dependency.
  modules/openthread/Kconfig.features
Labels: manifest-openthread

#1185 [nrf fromtree] boards: nrf5340: use nrf_reset_network_force_off
  boards/arm/bl5340_dvk/bl5340_dvk_cpunet_reset.c
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_cpunet_reset.c
  boards/arm/nrf5340dk_nrf5340/nrf5340_cpunet_reset.c
  boards/arm/thingy53_nrf5340/board.c
Labels: platform: nRF, platform: Laird Connectivity

#1141 [nrf noup] cmake: modules: Add NRF_DIR dir to snippets root
  cmake/modules/snippets.cmake
Labels: area: Build System

#1201 [nrf fromtree] net: l2: ethernet: Fix IPv6 Kconfig
  subsys/net/l2/ethernet/ethernet_mgmt.c
Labels: area: Networking

#1203 [nrf fromtree] scripts: adjust WEST_PYTHON to posix path
  scripts/west_commands/build.py
Labels: area: West

#1165 Zephyr, add PAKE configs.
  modules/mbedtls/Kconfig.psa
Labels: manifest-mbedtls

#1207 drivers: timer: add z_nrf_rtc_timer_exact_set
  drivers/timer/nrf_rtc_timer.c
  include/zephyr/drivers/timer/nrf_rtc_timer.h
Labels: area: Timer

#1215 [nrf fromlist] boards: thingy53: Fix missing entry for CPUNET
  boards/arm/thingy53_nrf5340/thingy53_nrf5340_cpunet.dts
Labels: platform: nRF

#1216 net: wifi: Fix power save timeout data type
  include/zephyr/net/wifi_mgmt.h
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking

#1223 Find My: fixes for minor release
  subsys/bluetooth/host/smp.c
Labels: area: Bluetooth, area: Bluetooth Host
