Repository nrfconnect/sdk-zephyr, pull requests merged in 2023-05, with the labels that each got.

#1150 [nrf fromtree] west.yaml: MCUboot synchronization from upstream
  west.yml
Labels: manifest, manifest-mcuboot

#1160 [SHEL-1390] net: shell: Display TWT response details
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking

#1167 [nrf fromlist] net: openthread: configure OPENTHREAD_CSL_TIMEOUT
  modules/openthread/Kconfig.thread
  modules/openthread/platform/openthread-core-zephyr-config.h
Labels: manifest-openthread

#1157 [nrf noup] Kconfig: Default off algorithms unsupported in Oberon and …
  modules/mbedtls/Kconfig.psa
Labels: manifest-mbedtls

#1174 [nrf fromtree] Bluetooth: Host: Fix double conversion of phy
  subsys/bluetooth/host/scan.c
Labels: area: Bluetooth, area: Bluetooth Host

#1175 Fix TWT interval
  include/zephyr/net/wifi_mgmt.h
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking

#1140 net: wifi_mgmt: Support to provide raw scan data
  include/zephyr/net/wifi_mgmt.h
  subsys/net/ip/net_private.h
  subsys/net/l2/Kconfig
  subsys/net/l2/wifi/Kconfig
  subsys/net/l2/wifi/wifi_mgmt.c
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking

#1173 [nrf fromlist] wifi: thingy53: Update dts and dtsi files to support n…
  boards/arm/thingy53_nrf5340/thingy53_nrf5340_common-pinctrl.dtsi
  boards/arm/thingy53_nrf5340/thingy53_nrf5340_common.dts
  dts/bindings/gpio/nordic,thingy53-edge-connector.yaml
Labels: area: Devicetree Binding, platform: nRF

#1179 [nrf noup] net: Increase connection manager stack size
  subsys/net/conn_mgr/Kconfig
Labels: area: Networking

#1177 [nrf noup] ci: Add Wi-Fi CI to the Wi-Fi modules
  .github/test-spec.yml
Labels: area: Continuous Integration

#1168 [nrf noup] include: net: add secure socket options
  include/zephyr/net/socket_ncs.h
Labels: area: Networking

#1162 Listen interval ps
  include/zephyr/net/wifi.h
  include/zephyr/net/wifi_mgmt.h
  subsys/net/l2/wifi/wifi_mgmt.c
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking

#1106 [nrf fromlist] net: context: Set priority based on DSCP
  subsys/net/ip/ipv4.h
  subsys/net/ip/ipv6.h
  subsys/net/ip/net_context.c
Labels: area: Networking

#1178 Add ACK for disconnect
  include/zephyr/net/wifi_mgmt.h
  subsys/net/l2/wifi/wifi_mgmt.c
Labels: area: Networking

#1181 [nrf fromlist] net: wifi: Fix typo in event
  subsys/net/l2/wifi/wifi_mgmt.c
Labels: area: Networking

#1186 [nrf fromtree] bluetooth: host: Fix NULL pointer dereference in bt_co…
  subsys/bluetooth/host/conn.c
Labels: area: Bluetooth, area: Bluetooth Host

#1183 [nrf fromtree] manifest: openthread upmerge to `d9abe30`
  modules/openthread/Kconfig.thread
  modules/openthread/platform/openthread-core-zephyr-config.h
  west.yml
Labels: manifest, manifest-openthread

#1187 [nrf fromtree] net: wifi: Display MFP info in scan results
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking

#1190 [nrf fromtree] net: wifi: Fix cpp compatibility
  include/zephyr/net/wifi.h
Labels: area: Networking
