Repository nrfconnect/sdk-zephyr, pull requests merged in 2023-08, with the labels that each got.

#1273 [nrf fromtree] Bluetooth: ISO: Fix HCI SDU length sent to controller
  subsys/bluetooth/host/conn.c
Labels: area: Bluetooth, area: Bluetooth Host

#1234 [nrf noup] include: net: add socket option level IPPROTO_ALL
  include/zephyr/net/socket_ncs.h
Labels: area: Networking

#1281 [nrf fromtree] tests: Bluetooth: Mesh: fix omitted names
  tests/bsim/bluetooth/mesh/src/main.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#1282 [nrf noup] modules: mbedtls: Fix key support Kconfig
  modules/mbedtls/Kconfig.psa
Labels: manifest-mbedtls

#1283 [nrf fromlist] modules: hal_nordic: remove 802.15.4 gpiote platform
  modules/hal_nordic/nrf_802154/CMakeLists.txt
  modules/hal_nordic/nrf_802154/sl_opensource/platform/nrf_802154_gpiote_crit_sect.c
  modules/hal_nordic/nrf_802154/sl_opensource/platform/nrf_802154_gpiote_zephyr.c
Labels: manifest-hal_nordic

#1284 Update hw models to latest
  west.yml
Labels: manifest, manifest-nrf_hw_models

#1275 [nrf noup]: ci: Only run lwm2m tests when needed
  .github/test-spec.yml
Labels: area: Continuous Integration

#1288 test-spec: Update Thingy91 entry
  .github/test-spec.yml
Labels: area: Continuous Integration

#1286 [nrf noup] ci: Only run crypto and tf-m tests when needed
  .github/test-spec.yml
Labels: area: Continuous Integration

#1227 modules: mbedtls: Align Kconfig options with Oberon PSA core
  modules/mbedtls/Kconfig.psa
Labels: manifest-mbedtls
