Repository nrfconnect/sdk-zephyr, pull requests merged in 2023-01, with the labels that each got.

#1027 fixup: [nrf noup] ci: NCS-specific CI tweaks
  .github/workflows/compliance.yml
Labels: area: Continuous Integration

#1024 [nrf fromtree] net: wifi: Add support for regulatory domain configura…
  include/zephyr/net/wifi.h
  include/zephyr/net/wifi_mgmt.h
  subsys/net/l2/wifi/wifi_mgmt.c
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking, area: Continuous Integration

#1029 [nrf fromlist] net: ppp: Fix PPP connection with host
  subsys/net/l2/ppp/lcp.c
  subsys/net/l2/ppp/ppp_internal.h
  subsys/net/l2/ppp/ppp_l2.c
Labels: area: Networking

#1030 [nrf fromtree] net: openthread: Add state change callback list
  include/zephyr/net/openthread.h
  subsys/net/l2/openthread/openthread.c
Labels: area: Networking, area: OpenThread

#1036 [nrf noup] ci: Updated test-spec.yml for Cloud CI testing
  .github/test-spec.yml
Labels: area: Continuous Integration

#1023 [nrf fromtree] net: ip: net_context: AF_PACKET/SOCK_RAW/IPPROTO_RAW: set pkt family
  drivers/net/ppp.c
  subsys/net/ip/net_context.c
  subsys/net/l2/ethernet/ethernet.c
Labels: bug, area: Networking

#1038 [nrf fromtree] bluetooth: host: Added extra options to PAST subscribe
  doc/releases/release-notes-3.3.rst
  include/zephyr/bluetooth/bluetooth.h
  include/zephyr/bluetooth/hci.h
  subsys/bluetooth/host/scan.c
Labels: area: Documentation, area: Bluetooth, Release Notes

#1017 [nrf fromtree] modules: openthread: platform: Added setting default tx power
  modules/openthread/Kconfig.thread
  modules/openthread/platform/radio.c
  tests/subsys/openthread/radio_stub.c
Labels: manifest-openthread, area: Networking, area: OpenThread
