Repository nrfconnect/sdk-zephyr, pull requests merged in 2023-10, with the labels that each got.

#1330 [nrf noup] ci: NCS-specific CI tweaks
  .github/workflows/compliance.yml
Labels: area: Continuous Integration

#1319 [nrf fromtree] modules: openthread: radio: OT now uses standard TX timestamp
  modules/openthread/CMakeLists.txt
  modules/openthread/Kconfig.features
  modules/openthread/platform/radio.c
  tests/subsys/openthread/radio_test.c
  west.yml
Labels: manifest, manifest-openthread, area: Networking, area: OpenThread

#1328 net: l2: wifi: Fix Wi-Fi mode get command bug
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking, area: Wi-Fi

#1331 [nrf fromtree] logging: Unused arg in log_msg_get_tid
  include/zephyr/logging/log_msg.h
Labels: area: Logging

#1323 [nrf noup] tree-wide: Fix malloc heap-size with partition manager enabled
  lib/libc/common/source/stdlib/malloc.c
  lib/os/Kconfig.heap
Labels: area: C Library, area: Base OS

#1333 [nrf fromtree] net: tcp: Fix goto condition in case of RST/packet error
  subsys/net/ip/tcp.c
Labels: area: Networking

#1263 [nrf noup] settings: nvs: use dedicated lookup cache hash function
  subsys/fs/nvs/Kconfig
  subsys/fs/nvs/nvs.c
Labels: area: File System, area: Settings

#1314 [nrf fromlist] drivers/flash/nrf: Workaround for nrf91 errata 7
  drivers/flash/soc_flash_nrf.c
Labels: area: Flash

#1335 [nrf fromtree] Bluetooth: att: don't re-use the ATT buffer for confir…
  subsys/bluetooth/host/att.c
Labels: bug, area: Bluetooth, area: Bluetooth Host

#1316 fixup! [nrf-noup] include: net: add NCS extension
  include/zephyr/net/socket_ncs.h
Labels: area: Networking

#1341 [nrf fromlist] nrf53: fix RTC pretick power usage for events on RTC0
  soc/arm/nordic_nrf/nrf53/soc.c
Labels: platform: nRF

#1320 [nrf fromtree] modules: openthread: fix unused variable during `otPlatCryptoInit`
  modules/openthread/platform/crypto_psa.c
Labels: area: OpenThread

#1346 [nrf fromlist] nrf53: fix RTC pretick for RTC rescheduling by other i…
  soc/arm/nordic_nrf/nrf53/Kconfig.soc
  soc/arm/nordic_nrf/nrf53/soc.c
Labels: platform: nRF

#1348 [nrf noup] modules: mbedtls: Disable mbedtls_hardware_poll with CC3xx…
  modules/mbedtls/zephyr_init.c
Labels: area: Crypto / RNG

#1352 [nrf fromlist] manifest: update hal_nordic rev to fix nRF91 anomaly 7
  west.yml
Labels: manifest, manifest-hal_nordic

#1353 [nrf fromlist] modules: hal_nordic: cmake: Fix checking if uicr DT no…
  modules/hal_nordic/nrfx/CMakeLists.txt
Labels: bug, platform: nRF

#1342 dts: arm: nordic: Add support for ieee802154 in the nRF52820 radio
  dts/arm/nordic/nrf52820.dtsi
Labels: platform: nRF

#1356 [nrf fromlist] manifest: update hal_nordic to fix nRF52820 nrfx_gpiote
  west.yml
Labels: manifest, manifest-hal_nordic

#1360 [nrf noup] ci: NCS-specific CI tweaks
  .github/workflows/commit-tags.yml
  .github/workflows/compliance.yml
  scripts/gitlint/ncs.py
Labels: area: Continuous Integration, area: Coding Guidelines

#1363 [nrf fromlist] Bluetooth: Mesh: FU Server should not update internal …
  subsys/bluetooth/mesh/dfu_srv.c
Labels: bug, area: Bluetooth, area: Bluetooth Mesh

#1362 [nrf fromtree] tests: bluetooth: tester: Fix GATT read multiple
  tests/bluetooth/tester/src/btp_gatt.c
Labels: area: Bluetooth

#1102 scripts: ci: Fix for compliance with multi-user machine
  scripts/ci/check_compliance.py
Labels: area: Continuous Integration, area: Coding Guidelines

#1368 testspec: remove HomeKit from NCS
  .github/test-spec.yml
Labels: area: Continuous Integration
