Repository nrfconnect/sdk-zephyr, pull requests merged in 2023-12, with the labels that each got.

#1404 [nrf fromlist] wifi: Check WPA-PSK passphrase length
  subsys/net/l2/wifi/wifi_mgmt.c
Labels: area: Networking, area: Wi-Fi

#1408 Fix wifi shell help
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking, area: Wi-Fi

#1413 [nrf fromtree] net: l2: wifi: Fix Print of SSID in WIFI status
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking, area: Wi-Fi

#1414 [backport-v2.5][nrf fromlist] soc: nrf53: Add implementation of workaround for anoma…
  soc/arm/nordic_nrf/nrf53/Kconfig.soc
  soc/arm/nordic_nrf/nrf53/soc_cpu_idle.h
Labels: platform: nRF

#1410 [nrf fromtree] twister: pytest: Add --pytest-args to Twister command line
  doc/develop/test/pytest.rst
  scripts/pylib/twister/twisterlib/environment.py
  scripts/pylib/twister/twisterlib/harness.py
  scripts/tests/twister/pytest_integration/test_harness_pytest.py
Labels: area: Documentation, area: Twister

#1417 [nrf fromlist] manifest: hal_nordic: Update revision with fixed worka…
  west.yml
Labels: manifest, manifest-hal_nordic

#1420 [nrf noup] newlib: Revert unintended change
  lib/libc/newlib/Kconfig
Labels: area: C Library

#1400 [nrf fromtree] Fixes an improvements in the nrf_qspi_nor driver
  drivers/flash/nrf_qspi_nor.c
Labels: area: Flash

#1426 wiif: AP mode minor improvements
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking, area: Wi-Fi
