Repository nrfconnect/sdk-zephyr, pull requests merged in 2023-07, with the labels that each got.

#1214 [nrf noup] mbedtls: Add config support for PBKDF2
  modules/mbedtls/Kconfig.psa
Labels: manifest-mbedtls

#1231 soc: arm: nrf53: workaround pop lr after wfi crash
  arch/arm/Kconfig
  arch/arm/core/aarch32/cpu_idle.S
  soc/arm/nordic_nrf/nrf53/Kconfig.soc
  soc/arm/nordic_nrf/nrf53/soc_cpu_idle.h
Labels: area: ARM, platform: nRF

#1228 [nrf fromlist] soc: arm: nrf53: workaround pop lr after wfi crash
  arch/arm/Kconfig
  arch/arm/core/aarch32/cpu_idle.S
  soc/arm/nordic_nrf/nrf53/Kconfig.soc
  soc/arm/nordic_nrf/nrf53/soc_cpu_idle.h
Labels: area: ARM, platform: nRF

#1221 [nrf fromtree] net: lib: coap: Use zsock_ functions
  subsys/net/lib/coap/coap_client.c
Labels: area: Networking

#1230 [nrf fromtree] bluetooth: host: smp: Add bondable flag overlay per connection
  include/zephyr/bluetooth/conn.h
  subsys/bluetooth/host/Kconfig
  subsys/bluetooth/host/smp.c
Labels: area: Bluetooth, area: Bluetooth Host

#1239 [nrf fromtree] drivers: sensor: qdec_nrfx: Workaround spurious sample…
  drivers/sensor/qdec_nrfx/qdec_nrfx.c
Labels: area: Sensors

#1247 [nrf fromlist] net: l2: wifi: Fix printing of TWT parameters
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking

#1240 [nrf fromtree] tests: Bluetooth: don't assume handle is 0
  tests/bsim/bluetooth/host/l2cap/split/tester/src/main.c
Labels: area: Bluetooth, area: Bluetooth Host

#1243 [nrf noup] drivers/flashdisk: Add support for Partition Manager
  drivers/disk/flashdisk.c
Labels: area: Disk Access

#1224 [nrf fromlist] modules: hal_nordic: nrf_802154: Make paths relative
  modules/hal_nordic/nrf_802154/CMakeLists.txt
Labels: manifest-hal_nordic

#1244 modules: mbedtls: Make PSA key types user configurations
  modules/mbedtls/Kconfig.psa
Labels: manifest-mbedtls

#1257 [nrf fromtree] net: dhcpv4: Accept unicast replies
  subsys/net/ip/Kconfig.ipv4
  subsys/net/ip/dhcpv4.c
  subsys/net/ip/dhcpv4.h
  subsys/net/ip/ipv4.c
Labels: area: Networking

#1259 Fix pylint saucetags
  .github/workflows/compliance.yml
  scripts/gitlint/ncs.py
Labels: area: Continuous Integration, area: mcumgr, area: Coding Guidelines

#1255 manifest: Update nrf hw models to latest revision
  west.yml
Labels: manifest, manifest-nrf_hw_models
