Repository nrfconnect/sdk-zephyr, pull requests merged in 2023-09, with the labels that each got.

#1290 [nrf noup] ci: Update ble and mesh test-spec entry
  .github/test-spec.yml
Labels: area: Continuous Integration

#1307 [nrf fromlist] net: socketpair: Fix use after free
  subsys/net/lib/sockets/socketpair.c
  tests/net/socket/socketpair/testcase.yaml
Labels: area: Networking, area: Kernel, area: Sockets

#1305 [nrf noup] modules: mbedtls: Add missing PSA key types configurations
  modules/mbedtls/Kconfig.psa
Labels: manifest-mbedtls

#1297 [nrf noup] ci: Update Thread test-spec entry
  .github/test-spec.yml
Labels: area: Continuous Integration

#1262 [nrf fromtree] net: openthread: Initialize PSA crypto when random is initializing
  modules/openthread/platform/crypto_psa.c
Labels: manifest-openthread

#1309 [nrf noup] ci: Update Thread test-spec entry
  .github/test-spec.yml
Labels: area: Continuous Integration

#1292 [nrf fromtree] manifest: Upgrade to trusted-firmware-m 1.8.0
  modules/mbedtls/CMakeLists.txt
  modules/trusted-firmware-m/CMakeLists.txt
  modules/trusted-firmware-m/interface/interface.c
  west.yml
Labels: manifest, manifest-trusted-firmware-m, manifest-mbedtls, manifest-tf-m-tests, area: TF-M
