Repository nrfconnect/sdk-zephyr, pull requests merged in 2023-11, with the labels that each got.

#1377 [nrf noup] testspec: Add audio
  .github/test-spec.yml
Labels: area: Continuous Integration

#1374 wifi: Fix band selection
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking, area: Wi-Fi

#1380 [nrf fromtree] Bluetooth: HCI: Add bt_hci_get_ver_str()
  include/zephyr/bluetooth/hci.h
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth, area: Bluetooth Host

#1379 [nrf noup] ci: Add CI-run-zephyr-twister test spec
  .github/test-spec.yml
Labels: area: Continuous Integration

#1390 [nrf fromtree] doc: gsg: macOS: Include instructions to add homebrew …
  doc/develop/getting_started/index.rst
Labels: area: Documentation

#1385 modules: mbedtls: Add all PSA_WANT algorithms and keys
  modules/mbedtls/Kconfig.psa
  modules/trusted-firmware-m/Kconfig.tfm.crypto_modules
Labels: area: TF-M, area: Crypto / RNG

#1392 [nrf fromtree] drivers: uart: nrf: rx_timeout_slab incorrectly set
  drivers/serial/uart_nrfx_uarte.c
Labels: platform: nRF, area: UART

#1369 net: openthread: Remove waiting for DTR in openthread UART.
  modules/openthread/platform/uart.c
Labels: area: OpenThread

#1399 manifest: Update hal_nordic to point to sdk-hal_nordic
  west.yml
Labels: manifest, manifest-hal_nordic
