Repository nrfconnect/sdk-zephyr, pull requests merged in 2023-02, with the labels that each got.

#1034 Rename the namespace
  subsys/net/l2/wifi/wifi_mgmt.c
Labels: area: Networking

#1047 [nrf fromlist] net: pkt: Allow zero payload for non-IPv4/v6 frames
  subsys/net/ip/net_pkt.c
  tests/net/net_pkt/src/main.c
Labels: area: Networking

#1056 [nrf fromtree] Samples: Bluetooth: ignore -EALREADY when opening ipc instance
  samples/bluetooth/hci_rpmsg/src/main.c
Labels: bug, area: Bluetooth

#1055 [nrf fromtree] Bluetooth: Fix enabling PAST as advertiser
  subsys/bluetooth/controller/Kconfig
Labels: area: Bluetooth, area: Bluetooth Controller

#1045 net: wifi_mgmt: Add support for power save timeout configuration
  include/zephyr/net/wifi_mgmt.h
  subsys/net/l2/wifi/wifi_mgmt.c
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking

#1046 [nrf fromtree] net: wifi_shell: Display correct power save status
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking

#1051 [nrf fromtree] fs: fcb: add option to disable CRC for fcb entries
  doc/releases/release-notes-3.3.rst
  include/zephyr/fs/fcb.h
  subsys/fs/fcb/Kconfig
  subsys/fs/fcb/fcb_append.c
  subsys/fs/fcb/fcb_elem_info.c
  subsys/fs/fcb/fcb_priv.h
  tests/subsys/fs/fcb/prj.conf
  tests/subsys/fs/fcb/prj_native_posix.conf
  tests/subsys/fs/fcb/prj_native_posix_64.conf
  tests/subsys/fs/fcb/prj_nucleo_h743zi.conf
  tests/subsys/fs/fcb/prj_qemu_x86.conf
  tests/subsys/fs/fcb/src/fcb_test.h
  tests/subsys/fs/fcb/src/fcb_test_append.c
  tests/subsys/fs/fcb/src/fcb_test_append_too_big.c
  tests/subsys/fs/fcb/src/fcb_test_crc_disabled_after_enabled.c
  tests/subsys/fs/fcb/src/main.c
Labels: area: Documentation, area: File System, Release Notes

#1057 [nrf noup] boards: thingy53_nrf5340: Change tfm partition size
  boards/arm/thingy53_nrf5340/pm_static_thingy53_nrf5340_cpuapp_ns.yml
Labels: platform: nRF

#1066 [nrf fromlist] openthread: net: fix building of openthread.
  modules/openthread/CMakeLists.txt
Labels: manifest-openthread

#1068 [nrf fromlist] settings: Make settings_subsys_init() thread safe
  subsys/settings/src/settings_init.c
Labels: bug, area: Settings

#1069 [nrf fromlist] net: l2: ethernet: Fix double free
  subsys/net/l2/ethernet/arp.c
  subsys/net/l2/ethernet/arp.h
  subsys/net/l2/ethernet/ethernet.c
Labels: area: Networking

#1072 [nrf fromtree] Bluetooth: Audio: Fix for PA sync in broadcast sink
  subsys/bluetooth/audio/broadcast_sink.c
Labels: area: Bluetooth, area: Bluetooth Audio

#1058 [nrf fromtree] bluetooth: host: drop incomplete data in periodic scanner
  subsys/bluetooth/host/scan.c
Labels: area: Bluetooth

#1079 [nrf fromlist] modules: openthread: remove `code_utils.h` include
  modules/openthread/platform/diag.c
Labels: bug, manifest-openthread

#1081 ci: doc-build: fix PDF build
  .github/workflows/doc-build.yml
Labels: area: Continuous Integration

#1085 [nrf fromtree] soc: nrf53: Warn if workaround for anomaly 160 cannot …
  soc/arm/nordic_nrf/nrf53/CMakeLists.txt
  soc/arm/nordic_nrf/nrf53/Kconfig.soc
Labels: platform: nRF
