Repository nrfconnect/sdk-zephyr, pull requests merged in 2024-02, with the labels that each got.

#1476 [nrf fromtree] Bluetooth: BAP: Update log for unicast iso recv without endpoint
  subsys/bluetooth/audio/ascs.c
  subsys/bluetooth/audio/bap_unicast_client.c
Labels: area: Bluetooth, area: Bluetooth Audio

#1475 [nrf noup] modules: mbedtls: change `EXPERIMENTAL` flags on PSA features that are used by Matter and Thread
  modules/mbedtls/Kconfig.psa
Labels: area: Crypto / RNG

#1433 [nrf fromlist] net: shell: Early wake up for TWT power save
  include/zephyr/net/wifi_mgmt.h
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking, platform: nRF, area: Wi-Fi

#1453 [nrf fromtree] drivers: qspi: added operation timeout
  drivers/flash/Kconfig.nordic_qspi_nor
  drivers/flash/nrf_qspi_nor.c
Labels: area: Flash, backport v3.4.99-ncs1-branch

#1481 [nrf fromtree] Revert "drivers: ieee802154: nrf: cache radio channel"
  drivers/ieee802154/ieee802154_nrf5.c
  drivers/ieee802154/ieee802154_nrf5.h
Labels: area: IEEE 802.15.4

#1484 [nrf fromtree] manifest: Update nrf hw models to latest including UBSAN fixes
  west.yml
Labels: manifest, area: Bluetooth, area: Bluetooth Controller, manifest-nrf_hw_models

#1488 [nrf fromtree] manifest: Update hal_nordic revision to fix APPROTECT on nRF91 and to fix nrfx samples build error
  west.yml
Labels: manifest, manifest-hal_nordic

#1502 [nrf fromlist] scripts: Allow using quarantine mechanism with test_plan.py script
  scripts/ci/test_plan.py
Labels: area: Continuous Integration

#1505 [nrf fromlist] modules: hal_nordic: nrfx: Fix DPPIC support for nRF54L15
  modules/hal_nordic/nrfx/CMakeLists.txt
Labels: platform: nRF, trivial

#1486 [nrf fromtree] ipc: Drain pending work items before deregistering endpoint
  subsys/ipc/ipc_service/backends/ipc_rpmsg_static_vrings.c
Labels: bug, area: IPC

#1507 Bluetooth: Correct `bt_att_create_rsp_pdu` reservation when EATT is enabled
  subsys/bluetooth/host/att.c
Labels: area: Bluetooth, area: Bluetooth Host

#1460 [nrf noup] samples: lwm2m_client: Add support for nRF91x and nRF700x
  samples/net/lwm2m_client/overlay-nrf700x.conf
  samples/net/lwm2m_client/overlay-nrf91x.conf
Labels: area: Samples, area: LWM2M

#1499 [nrf fromtree] drivers: i2s_nrfx: Generate master clock if pin is connected
  drivers/i2s/i2s_nrfx.c
Labels: platform: nRF, area: I2S

#1513 test-spec: descope samples and tests from many CIs
  .github/test-spec.yml
Labels: area: Continuous Integration

#1524 [nrf noup] testspec: Add Low Level specification
  .github/test-spec.yml
Labels: area: Continuous Integration

#1521 [nrf fromlist] drivers: sensor: adxl367: fix trigger support
  drivers/sensor/adxl367/adxl367_trigger.c
Labels: area: Sensors, platform: ADI

#1526 [nrf fromlist] boards: added arduino pins to nrf5340 audio DK network…
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpunet-pinctrl.dtsi
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpunet.dts
Labels: platform: nRF

#1528 [nrf fromlist] drivers: ieee802154: gracefully handle invalid Ack tim…
  drivers/ieee802154/ieee802154_nrf5.c
Labels: area: IEEE 802.15.4

#1514 [nrf fromlist] dts: Add uicr nfct_pins_as_gpios prop on 5340_ns
  dts/arm/nordic/nrf5340_cpuappns.dtsi
  dts/bindings/arm/nordic,nrf-uicr-config-only.yaml
  soc/arm/nordic_nrf/validate_base_addresses.c
Labels: area: Devicetree Binding, platform: nRF

#1533 [nrf fromtree] Bluetooth: Controller: Add nRF54x Tx Power Kconfig
  subsys/bluetooth/controller/Kconfig
  subsys/bluetooth/controller/ll_sw/nordic/hal/nrf5/radio/radio_nrf5_txp.h
Labels: area: Bluetooth, area: Bluetooth Controller

#1539 Revert "[nrf fromlist] dts: Add uicr nfct_pins_as_gpios prop on 5340_ns"
  dts/arm/nordic/nrf5340_cpuappns.dtsi
  dts/bindings/arm/nordic,nrf-uicr-config-only.yaml
  soc/arm/nordic_nrf/validate_base_addresses.c
Labels: area: Devicetree Binding, platform: nRF

#1534 [nrf fromtree] drivers: mfd: npm6001: set SWREADY
  drivers/mfd/mfd_npm6001.c
Labels: area: MFD

#1542 [nrf fromtree] Update commits cherry-picked from PR 69201
  soc/common/nordic_nrf/Kconfig.peripherals
Labels: area: Devicetree

#1519 [nrf noup] modules: mbedtls: Add new PAKE Kconfigs
  modules/mbedtls/Kconfig.psa
Labels: area: Crypto / RNG

#1541 [nrf fromtree] Bluetooth: hci: Add hw variant definitions for nrf54H/L
  include/zephyr/bluetooth/hci_vs.h
  subsys/bluetooth/controller/hci/nordic/hci_vendor.h
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth, area: Bluetooth Controller, area: Bluetooth Host

#1536 [nrf fromtree] Bluetooth: Mesh: Enable CDP1 by default
  subsys/bluetooth/mesh/Kconfig
  subsys/bluetooth/mesh/access.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#1537 settings: nvs: Downstream settings nvs fixes
  subsys/settings/include/settings/settings_nvs.h
  subsys/settings/src/settings_nvs.c
Labels: area: Settings

#1546 net: shell: `sh` is valid before call shell_printf
  subsys/net/lib/shell/net_shell_private.h
Labels: area: Networking

#1545 modules: hal_nordic: remove weak nrf_802154_clock_hfclk_ready
  modules/hal_nordic/nrf_802154/sl_opensource/platform/nrf_802154_clock_zephyr.c
Labels: platform: nRF

#1540 [nrf fromlist] boards: arm: nrf9151dk: fix broken link
  boards/arm/nrf9151dk_nrf9151/doc/index.rst
Labels: platform: nRF

#1518 Initial CRACEN support
  dts/arm/nordic/nrf54l_common.dtsi
Labels: platform: nRF, Platform: nRF54L
