Repository nrfconnect/sdk-zephyr, pull requests merged in 2024-03, with the labels that each got.

#1547 [nrf fromlist] buildsystem: Enable LTO also for the application
  CMakeLists.txt
  lib/libc/newlib/CMakeLists.txt
  lib/libc/picolibc/CMakeLists.txt
Labels: bug, area: Build System, area: C Library

#1560 [nrf fromlist] kconfig: shell: increase shell stack size for OpenThread
  subsys/shell/Kconfig
Labels: bug, area: Shell

#1556 [nrf fromlist] Bluetooth: ATT: lock scheduler when sending from user …
  subsys/bluetooth/host/att.c
Labels: bug, area: Bluetooth, area: Bluetooth Host

#1573 54l15 partition manager rom start offset
  boards/arm/nrf54l15pdk_nrf54l15/Kconfig.defconfig
Labels: platform: nRF, trivial

#1509 [nrf fromtree] modules: crypto: update tinycrypt revision
  west.yml
Labels: manifest, manifest-tinycrypt

#1568 [nrf fromtree] Bluetooth: add missing initilization of sync_info member
  subsys/bluetooth/host/scan.c
Labels: area: Bluetooth, area: Bluetooth Host, trivial

#1557 [nrf noup] modules: mbedtls: Add PSA_WANT_ALG_SP800_108_COUNTER_XXX
  modules/mbedtls/Kconfig.psa
Labels: area: Crypto / RNG, Platform: nRF54L

#1581 Update ble sample label
  .github/test-spec.yml
Labels: area: Continuous Integration

#1580 nrf54l15 write block size
  dts/arm/nordic/nrf54l_common.dtsi
Labels: platform: nRF, trivial

#1579 [nrf fromlist] scripts: pylib: twister: twisterlib: prevent empty gcda
  scripts/pylib/twister/twisterlib/coverage.py
Labels: area: Twister

#1584 smp svr sample configuration for nrf54l15
  samples/subsys/mgmt/mcumgr/smp_svr/sample.yaml
Labels: area: Samples, platform: nRF, area: mcumgr
