Repository nrfconnect/sdk-zephyr, pull requests merged in 2024-12, with the labels that each got.

#2334 [nrf noup] modules: hostap: Fix Enterpise mode with nRF security
  modules/hostap/Kconfig
Labels: bugfix

#2352 [nrf noup] drivers: flash: Allow reading secure mem by nrf_rram.
  drivers/flash/soc_flash_nrf_rram.c
Labels: bugfix, backport v3.7.99-ncs2-branch

#2362 [Backport v3.7.99-ncs2-branch] [nrf noup] drivers: flash: Allow reading secure mem by nrf_rram.
  drivers/flash/soc_flash_nrf_rram.c
Labels: Backport

#2360 [nrf fromlist] soc: nordic: poweroff: disable remaining RAM on emul l05/l10 targets
  soc/nordic/common/poweroff.c
Labels: backport v3.7.99-ncs2-branch

#2363 [nrf noup] soc: nordic: nrf54l Fix for wait lasting half expected time
  soc/nordic/nrf54l/soc.c
Labels: bugfix

#2366 [Backport v3.7.99-ncs2-branch] [nrf noup] dfu: boot: mcuboot: Fix selecting wrong active slot
  subsys/dfu/boot/mcuboot.c
Labels: Backport

#2368 [Backport v3.7.99-ncs2-branch] [nrf fromlist] soc: nordic: poweroff: disable remaining RAM on emul l05/l10 targets
  soc/nordic/common/poweroff.c
Labels: Backport

#2097 [nrf fromtree] tests: boards: nrf: coresight_stm: Add performance tes…
  samples/boards/nordic/coresight_stm/src/main.c
  tests/boards/nrf/coresight_stm/CMakeLists.txt
  tests/boards/nrf/coresight_stm/Kconfig.sysbuild
  tests/boards/nrf/coresight_stm/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  tests/boards/nrf/coresight_stm/prj.conf
  tests/boards/nrf/coresight_stm/pytest/test_stm.py
  tests/boards/nrf/coresight_stm/remote/CMakeLists.txt
  tests/boards/nrf/coresight_stm/remote/prj.conf
  tests/boards/nrf/coresight_stm/sysbuild.cmake
  tests/boards/nrf/coresight_stm/testcase.yaml
Labels: area: Samples, platform: nRF

#2369 [nrf fromtree] manifest: Update nRF hw models to latest
  west.yml
Labels: manifest, manifest-nrf_hw_models
