Repository nrfconnect/sdk-zephyr, pull requests merged in 2024-08, with the labels that each got.

#1924 [nrf fromlist] testsuite: coverage: allow disabled multithreading
  subsys/testsuite/coverage/coverage.c
Labels: area: Testsuite

#1931 [nrf fromtree] Bluetooth: DIS: integrate app version into FW revision…
  subsys/bluetooth/services/Kconfig.dis
Labels: area: Bluetooth, area: Bluetooth Host

#1934 Bsim: Update to latest revision
  west.yml
Labels: manifest, manifest-nrf_hw_models

#1933 Nrfx wdt driver without irq
  drivers/watchdog/Kconfig.nrfx
  drivers/watchdog/wdt_nrfx.c
  modules/hal_nordic/nrfx/nrfx_config.h
Labels: platform: nRF, area: Watchdog

#1941 [nrf-noup] test-spec: update CI-boot-test
  .github/test-spec.yml
Labels: area: Continuous Integration

#1893 [nrf noup] include: net: socket_ncs: remove deprecated RAI
  include/zephyr/net/socket_ncs.h
Labels: area: Networking

#1944 [nrf noup] bluetooth: conn: Skip buffer ref count check in send_buf
  subsys/bluetooth/host/conn.c
Labels: area: Bluetooth, area: Bluetooth Host

#1942 [nrf fromtree] soc: nordic: nrf54h: Retrigger TASK_FREQ_CHANGE
  soc/nordic/nrf54h/soc.c
Labels: platform: nRF

#1945 [nrf fromtree] soc: nordic: Fix APPROTECT with TF-M
  soc/nordic/Kconfig
Labels: platform: nRF

#1948 [nrf fromtree] drivers: flash: Do not select NRFX_RRAMC while buildig with TF-M
  drivers/flash/Kconfig.nrf_rram
Labels: area: Flash, trivial

#1943 net: ipv6: route: get nexthop's LL address only if relevant
  subsys/net/ip/route.c
Labels: area: Networking

#1926 [nrf fromlist] scripts: nrf_common: Use cfg for SUIT paths
  scripts/west_commands/runners/nrf_common.py
Labels: area: West

#1950 [nrf fromlist] kconfig: openthread: Add 1.4 version
  modules/openthread/Kconfig.features
Labels: area: OpenThread

#1949 [nrf noup] modules: mbedtls: remove deprecated Kconfig
  modules/mbedtls/Kconfig.psa
Labels: area: Crypto / RNG

#1956 [nrf fromlist] net: openthread: Fix missing dependency for OT `diag` …
  modules/hal_nordic/Kconfig
Labels: platform: nRF, trivial

#1965 Need exactly nrf-regtool v5.5.1 for SSF IPC
  modules/hal_nordic/CMakeLists.txt
Labels: platform: nRF, trivial

#1960 Bluetooth: Mesh: Fix uninitialized field when cancelling transfer blob
  subsys/bluetooth/mesh/blob_srv.c
Labels: area: Bluetooth, area: Bluetooth Mesh, trivial, external

#1968 [nrf noup] board: nordic_ thingy53: Enable QSPI by default
  boards/nordic/thingy53/Kconfig.defconfig
Labels: platform: nRF

#1982 [nrf fromlist] tests: bluetooth: tester: refactor CSIP btp command
  tests/bluetooth/tester/src/btp/btp_csip.h
  tests/bluetooth/tester/src/btp_csip.c
Labels: area: Bluetooth, area: Tests
