Repository nrfconnect/sdk-zephyr, pull requests merged in 2024-10, with the labels that each got.

#2043 include: net: add delayed addr refresh socket option
  include/zephyr/net/socket_ncs.h
Labels: area: Networking

#2058 [nrf noup] include: arch: arm: cortex_m: linker: Add PM SRAM override
  include/zephyr/arch/arm/cortex_m/scripts/linker.ld
Labels: area: ARM, area: Architectures

#2053 [nrf noup] test-spec: update CI-rs-test and Ci-fem-test
  .github/test-spec.yml
Labels: area: Continuous Integration

#2066 Revert "[nrf noup] doc: extensions: domain: skip patching doxygen gro…
  doc/_extensions/zephyr/domain.py
Labels: area: Documentation Infrastructure, size: XS

#2068 [nrf fromlist] bluetooth: tester: audio: Add check for bis stopping
  tests/bluetooth/tester/src/audio/btp_bap_broadcast.c
  tests/bluetooth/tester/src/audio/btp_bap_broadcast.h
Labels: area: Bluetooth, area: Bluetooth Audio, area: Bluetooth Qualification

#2042 [nrf fromtree] mgmt: mcumgr: Add SMP SVC and CHR UUIDs to header
  include/zephyr/mgmt/mcumgr/transport/smp_bt.h
  subsys/mgmt/mcumgr/transport/src/smp_bt.c
Labels: area: mcumgr

#2015 [nrf noup] boards: Add non secure target for nrf54L15dk
  boards/nordic/nrf54l15dk/Kconfig
  boards/nordic/nrf54l15dk/Kconfig.defconfig
  boards/nordic/nrf54l15dk/Kconfig.nrf54l15dk
  boards/nordic/nrf54l15dk/board.cmake
  boards/nordic/nrf54l15dk/board.yml
  boards/nordic/nrf54l15dk/nrf54l15dk_nrf54l15_cpuapp_ns.dts
  boards/nordic/nrf54l15dk/nrf54l15dk_nrf54l15_cpuapp_ns.yaml
  boards/nordic/nrf54l15dk/nrf54l15dk_nrf54l15_cpuapp_ns_defconfig
Labels: platform: nRF

#2093 [nrf fromtree] scripts: logging: dictionary: Add uart support
  scripts/logging/dictionary/log_parser.py
  scripts/logging/dictionary/log_parser_uart.py
  scripts/logging/dictionary/parserlib.py
Labels: area: Logging

#2095 [nrf fromtree] drivers: mbox: nrf_vevif_task_rx: align to direct IRQs
  drivers/mbox/mbox_nrf_vevif_task_rx.c
Labels: platform: nRF, area: mbox

#2085 Pull in PRF-256 Implementation from upstream Hostap
  west.yml
Labels: manifest, manifest-hostap, size: XS

#2108 [nrf noup] dts: Select SoftDevice Controller DTS binding as default
  boards/nordic/nrf54l20pdk/nrf54l20_cpuapp_common.dtsi
  dts/common/nordic/nrf54l20.dtsi
Labels: platform: nRF

#2109 [nrf fromtree] Bluetooth: Host: Fix issue where uninitialized value w…
  subsys/bluetooth/host/id.c
  tests/bluetooth/host/id/bt_id_set_scan_own_addr/src/test_suite_invalid_inputs.c
Labels: area: Bluetooth, area: Bluetooth Host

#2060 [nrf noup] samples: basic: blinky: align eGPIO overlay to L15 DK
  samples/basic/blinky/boards/nrf54l15dk_nrf54l15_cpuapp_egpio.overlay
Labels: area: Samples, trivial, size: XS

#2096 [nrf noup] workflows: Update the commit tags action
  .github/workflows/commit-tags.yml
Labels: area: Continuous Integration

#2105 [nrf noup] drivers: entropy: Switch entropy driver in nRF54L20
  drivers/entropy/Kconfig.nrf_prng
  dts/arm/nordic/nrf54l20_enga_cpuapp.dtsi
Labels: platform: nRF, area: Crypto / RNG

#2120 [nrf fromtree] manifest: Update nRF hw models to latest
  west.yml
Labels: manifest, manifest-nrf_hw_models, size: XS

#2124 [nrf fromtree] usb: dwc2: Allow for enabling USB if the cable is disconnected
  drivers/usb/udc/Kconfig.dwc2
  drivers/usb/udc/udc_dwc2_vendor_quirks.h
  include/zephyr/drivers/usb/udc.h
Labels: area: USB

#2133 ZMS fix warnings in compilation
  subsys/fs/zms/Kconfig
  subsys/fs/zms/zms.c
Labels: area: File System

#2125 [nrf fromtree] net: silence no sources cmake warning
  subsys/net/CMakeLists.txt
Labels: area: Networking, size: XS

#2104 [nrf fromtree] dts: common: nordic: nrf54l20: Adjust RAM size to 511k
  dts/common/nordic/nrf54l20.dtsi
Labels: platform: nRF

#2074 [nrf fromlist] samples: boards: nordic: system_off: Add GRTC wakeup
  samples/boards/nordic/system_off/Kconfig
  samples/boards/nordic/system_off/sample.yaml
  samples/boards/nordic/system_off/src/main.c
Labels: area: Samples, platform: nRF

#2107 [nrf fromtree] bluetooth: conn: Use a separate workqueue for connecti…
  subsys/bluetooth/host/Kconfig
  subsys/bluetooth/host/conn.c
  subsys/bluetooth/host/conn_internal.h
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth, area: Bluetooth Host

#2071 [nrf-fromlist] dts: update memory map and remove ext-uicr
  boards/nordic/nrf54h20dk/nrf54h20dk_nrf54h20_0_8_0.dtsi
  boards/nordic/nrf54h20dk/nrf54h20dk_nrf54h20_cpuapp_0_8_0.overlay
  boards/nordic/nrf54h20dk/nrf54h20dk_nrf54h20_cpuflpr_0_8_0.overlay
  boards/nordic/nrf54h20dk/nrf54h20dk_nrf54h20_cpuppr_0_8_0.overlay
  boards/nordic/nrf54h20dk/nrf54h20dk_nrf54h20_cpurad_0_8_0.overlay
  dts/bindings/arm/nordic,nrf-uicr-v2.yaml
  dts/common/nordic/nrf54h20.dtsi
  dts/common/nordic/nrf9280.dtsi
Labels: platform: nRF

#2110 [nrf fromtree] boards: nordic: Do not enable hw-flow-control on console
  boards/nordic/nrf54h20dk/nrf54h20dk_nrf54h20_cpuapp.dts
  boards/nordic/nrf54h20dk/nrf54h20dk_nrf54h20_cpuppr.dts
  boards/nordic/nrf54h20dk/nrf54h20dk_nrf54h20_cpurad.dts
  boards/nordic/nrf54l15dk/nrf54l15_cpuapp_common.dtsi
  boards/nordic/nrf54l15dk/nrf54l15dk_nrf54l15_cpuflpr.dts
  boards/nordic/nrf54l15pdk/nrf54l15_cpuapp_common.dtsi
  boards/nordic/nrf54l15pdk/nrf54l15pdk_nrf54l15_cpuflpr.dts
  boards/nordic/nrf9280pdk/nrf9280pdk_nrf9280_cpuapp.dts
  boards/nordic/nrf9280pdk/nrf9280pdk_nrf9280_cpuppr.dts
  boards/nordic/nrf9280pdk/nrf9280pdk_nrf9280_cpurad.dts
Labels: platform: nRF

#2134 [nrf fromtree] samples: icbmsg: Change regex for no_multithreading test
  samples/subsys/ipc/ipc_service/icmsg/sample.yaml
Labels: area: Samples, area: IPC

#2073 [nrf fromlist] susbys/dfu/img_util: refined ERASE PROGRESSIVELY imple…
  subsys/dfu/Kconfig
  subsys/dfu/img_util/flash_img.c
Labels: area: DFU, bugfix

#2077 [nrf noup] modules: mbedtls: Remove Nordic only PSA wants
  modules/mbedtls/Kconfig
  modules/mbedtls/Kconfig.psa.nordic
Labels: area: mbedTLS / PSA Crypto

#2117 [nrf noup] mgmt: mcumgr: bootutil_hooks: nrf53_hooks: Handle sysbuild…
  subsys/mgmt/mcumgr/bootutil_hooks/nrf53_hooks.c
Labels: area: mcumgr

#2157 [nrf fromtree] doc: ipc: Add detailed protocol specs for ICBMsg backend
  doc/services/ipc/ipc_service/backends/icbmsg_flows.svg
  doc/services/ipc/ipc_service/backends/icbmsg_memory.svg
  doc/services/ipc/ipc_service/backends/icbmsg_message.svg
  doc/services/ipc/ipc_service/backends/ipc_service_icbmsg.rst
Labels: backport v3.7.99-ncs1-branch

#2156 [nrf fromtree] doc: ipc: Add detailed protocol specs for ICMsg
  doc/services/ipc/ipc_service/backends/ipc_service_icmsg.rst
Labels: backport v3.7.99-ncs1-branch

#2165 synchronize ZMS with upstream version
  doc/services/storage/zms/zms.rst
  include/zephyr/fs/zms.h
  samples/subsys/fs/zms/src/main.c
  subsys/fs/zms/Kconfig
  subsys/fs/zms/zms.c
  subsys/fs/zms/zms_priv.h
  tests/subsys/fs/zms/src/main.c
Labels: backport v3.7.99-ncs1-branch

#2176 [nrf fromlist] drivers: modem_cellular: fix handling of `+C*REG` answers
  drivers/modem/modem_cellular.c
Labels: backport v3.7.99-ncs1-branch

#2141 [nrf fromlist] tests: drivers: i2s: Add overlay to support nRF54L15 DK
  tests/drivers/i2s/i2s_api/boards/nrf54l15dk_nrf54l15_cpuapp.overlay
  tests/drivers/i2s/i2s_speed/boards/nrf54l15dk_nrf54l15_cpuapp.overlay
Labels: area: I2S, backport v3.7.99-ncs1-branch

#2154 [nrf fromtree] boards: nordic: ipc: added dcache alignement
  boards/nordic/nrf54h20dk/nrf54h20dk_nrf54h20-ipc_conf.dtsi
  boards/nordic/nrf9280pdk/nrf9280pdk_nrf9280-ipc_conf.dtsi
  doc/services/ipc/ipc_service/backends/ipc_service_icbmsg.rst
  doc/services/ipc/ipc_service/backends/ipc_service_icmsg.rst
  dts/bindings/ipc/zephyr,ipc-icmsg.yaml
  samples/subsys/ipc/ipc_service/icmsg/boards/nrf54l15dk_nrf54l15_cpuapp.overlay
  samples/subsys/ipc/ipc_service/icmsg/boards/nrf54l15dk_nrf54l15_cpuapp_icbmsg.overlay
  samples/subsys/ipc/ipc_service/icmsg/remote/boards/nrf54l15dk_nrf54l15_cpuflpr.overlay
  samples/subsys/ipc/ipc_service/icmsg/remote/boards/nrf54l15dk_nrf54l15_cpuflpr_icbmsg.overlay
  subsys/ipc/ipc_service/backends/ipc_icbmsg.c
Labels: bugfix, backport v3.7.99-ncs1-branch

#2162 [nrf fromlist] soc: nordic: nrf54l15: fix APPROTECT handling
  modules/hal_nordic/nrfx/CMakeLists.txt
  soc/nordic/Kconfig
Labels: backport v3.7.99-ncs1-branch

#2181 [Backport v3.7.99-ncs1-branch] [nrf fromlist] drivers: modem_cellular: fix handling of `+C*REG` answers
  drivers/modem/modem_cellular.c
Labels: Backport

#2184 [Backport v3.7.99-ncs1-branch] [nrf fromlist] tests: drivers: i2s: Add overlay to support nRF54L15 DK
  tests/drivers/i2s/i2s_api/boards/nrf54l15dk_nrf54l15_cpuapp.overlay
  tests/drivers/i2s/i2s_speed/boards/nrf54l15dk_nrf54l15_cpuapp.overlay
Labels: Backport

#2180 [Backport v3.7.99-ncs1-branch] synchronize ZMS with upstream version
  doc/services/storage/zms/zms.rst
  include/zephyr/fs/zms.h
  samples/subsys/fs/zms/src/main.c
  subsys/fs/zms/Kconfig
  subsys/fs/zms/zms.c
  subsys/fs/zms/zms_priv.h
  tests/subsys/fs/zms/src/main.c
Labels: Backport

#2186 [Backport v3.7.99-ncs1-branch] [nrf fromlist] soc: nordic: nrf54l15: fix APPROTECT handling
  modules/hal_nordic/nrfx/CMakeLists.txt
  soc/nordic/Kconfig
Labels: Backport

#2185 [Backport v3.7.99-ncs1-branch] [nrf fromtree] boards: nordic: ipc: added dcache alignement
  boards/nordic/nrf54h20dk/nrf54h20dk_nrf54h20-ipc_conf.dtsi
  boards/nordic/nrf9280pdk/nrf9280pdk_nrf9280-ipc_conf.dtsi
  doc/services/ipc/ipc_service/backends/ipc_service_icbmsg.rst
  doc/services/ipc/ipc_service/backends/ipc_service_icmsg.rst
  dts/bindings/ipc/zephyr,ipc-icmsg.yaml
  samples/subsys/ipc/ipc_service/icmsg/boards/nrf54l15dk_nrf54l15_cpuapp.overlay
  samples/subsys/ipc/ipc_service/icmsg/boards/nrf54l15dk_nrf54l15_cpuapp_icbmsg.overlay
  samples/subsys/ipc/ipc_service/icmsg/remote/boards/nrf54l15dk_nrf54l15_cpuflpr.overlay
  samples/subsys/ipc/ipc_service/icmsg/remote/boards/nrf54l15dk_nrf54l15_cpuflpr_icbmsg.overlay
  subsys/ipc/ipc_service/backends/ipc_icbmsg.c
Labels: Backport

#2193 Revert "[nrf fromlist] soc: nordic: nrf54l15: fix APPROTECT handling"
  modules/hal_nordic/nrfx/CMakeLists.txt
  soc/nordic/Kconfig
Labels: backport v3.7.99-ncs1-branch

#2194 [Backport v3.7.99-ncs1-branch] Revert "[nrf fromlist] soc: nordic: nrf54l15: fix APPROTECT handling"
  modules/hal_nordic/nrfx/CMakeLists.txt
  soc/nordic/Kconfig
Labels: Backport

#2196 [nrf fromtree]: samples: boards: nordic: system_off: Update README.
  samples/boards/nordic/system_off/README.rst
Labels: backport v3.7.99-ncs1-branch

#2203 [Backport v3.7.99-ncs1-branch] [nrf fromtree]: samples: boards: nordic: system_off: Update README.
  samples/boards/nordic/system_off/README.rst
Labels: Backport

#2201 [nrf fromlist] soc: nordic: nrf54l: fix configuration of DCDC regulator
  soc/nordic/nrf54l/soc.c
Labels: backport v3.7.99-ncs1-branch

#2207 [Backport v3.7.99-ncs1-branch] [nrf fromlist] soc: nordic: nrf54l: fix configuration of DCDC regulator
  soc/nordic/nrf54l/soc.c
Labels: Backport

#2199 [nrf fromlist] soc: nordic: nrf54l15: fix APPROTECT handling
  modules/hal_nordic/nrfx/CMakeLists.txt
  soc/nordic/Kconfig
Labels: backport v3.7.99-ncs1-branch
