Repository nrfconnect/sdk-zephyr, pull requests merged in 2024-01, with the labels that each got.

#1427 Reorganize nrf_802154 Kconfig
  modules/hal_nordic/Kconfig
  modules/hal_nordic/nrf_802154/CMakeLists.txt
Labels: platform: nRF

#1438 [nrf noup] ci: NCS-specific CI tweaks
  .github/workflows/compliance.yml
  scripts/gitlint/zephyr_commit_rules.py
Labels: area: Continuous Integration, area: Coding Guidelines

#1441 [nrf noup] drivers: ieee802154: temporary fix for ACK header IE config
  drivers/ieee802154/ieee802154_nrf5.c
Labels: area: IEEE 802.15.4

#1444 [nrf fromtree] dts: nrf5340: add missing `easydma-maxcnt-bits` for nrf5340_cpunet
  dts/arm/nordic/nrf5340_cpunet.dtsi
Labels: platform: nRF, trivial

#1432 [nrf fromlist] net: mgmt: Provide Regulatory channel info
  include/zephyr/net/wifi_mgmt.h
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking, area: Wi-Fi

#1446 [nrf fromtree] net: sockets: prevent null pointer dereference
  subsys/net/lib/sockets/sockets.c
Labels: area: Networking, area: Sockets

#1449 [nrf fromtree] drivers: regulator: Fixed reference counting during enable
  drivers/regulator/regulator_common.c
Labels: area: Regulators

#1455 [nrf fromlist] drivers: ieee802154: fix nRF5 Rx error handling
  drivers/ieee802154/ieee802154_nrf5.c
  drivers/ieee802154/ieee802154_nrf5.h
Labels: area: IEEE 802.15.4

#1464 [nrf fromtree] Bluetooth: ISO: Fix CIS peripheral disconnection durin…
  subsys/bluetooth/host/iso.c
Labels: area: Bluetooth, area: Bluetooth Host

#1470 Cherrypick fixes for ACK header IE related bugs
  drivers/ieee802154/ieee802154_nrf5.c
  include/zephyr/net/ieee802154_radio.h
  modules/openthread/platform/radio.c
  west.yml
Labels: manifest, manifest-openthread, area: OpenThread, area: IEEE 802.15.4

#1473 [nrf fromlist] wifi: shell: Add band support for STA
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking, area: Wi-Fi
