Repository nrfconnect/sdk-zephyr, pull requests merged in 2024-07, with the labels that each got.

#1874 sysbuild: introduce sysbuild_root for root adjustment
  cmake/modules/extensions.cmake
  cmake/modules/root.cmake
  share/sysbuild/cmake/modules/sysbuild_default.cmake
  share/sysbuild/cmake/modules/sysbuild_extensions.cmake
  share/sysbuild/cmake/modules/sysbuild_root.cmake
Labels: area: Build System, area: Sysbuild

#1744 [nrf fromlist] bluetooth: tester: Adjust Broadcaster ext adv pars
  tests/bluetooth/tester/src/btp_bap_broadcast.c
  tests/bluetooth/tester/src/btp_cap.c
Labels: area: Bluetooth, area: Tests, trivial

#1827 [nrf fromtree] Bluetooth: Controller: Add Kconfigs to enable Connection Subrating
  subsys/bluetooth/controller/Kconfig
Labels: area: Bluetooth, area: Bluetooth Controller

#1820 [nrf fromlist] tests: drivers: pwm: pwm_api
  tests/drivers/pwm/pwm_api/src/test_pwm.c
Labels: area: PWM

#1884 test-spec: fix decencies
  .github/test-spec.yml
Labels: area: Continuous Integration

#1880 [nrf fromlist] tests: drivers: add more test cases to the i2c_bme688 …
  tests/drivers/i2c/i2c_bme688/src/main.c
Labels: area: I2C

#1886 [nrf fromlist] modules: hal_nordic: nrfs: fix buffer used in nrfs send
  modules/hal_nordic/nrfs/backends/nrfs_backend_ipc_service.c
Labels: platform: nRF

#1889 Update test spec part2
  .github/test-spec.yml
Labels: area: Continuous Integration

#1878 [nrf noup] ci: Enable action-manifest-pr
  .github/workflows/manifest-PR.yml
Labels: area: Continuous Integration

#1885 [nrf fromlist] Bluetooth: Host: Rework enabling of scanner
  include/zephyr/bluetooth/bluetooth.h
  subsys/bluetooth/host/conn.c
  subsys/bluetooth/host/hci_core.c
  subsys/bluetooth/host/hci_core.h
  subsys/bluetooth/host/id.c
  subsys/bluetooth/host/scan.c
  subsys/bluetooth/host/scan.h
  tests/bluetooth/host/id/mocks/scan.c
  tests/bluetooth/host/id/mocks/scan.h
  tests/bsim/bluetooth/host/compile.sh
  tests/bsim/bluetooth/host/scan/start_stop/CMakeLists.txt
  tests/bsim/bluetooth/host/scan/start_stop/prj.conf
  tests/bsim/bluetooth/host/scan/start_stop/src/main.c
  tests/bsim/bluetooth/host/scan/start_stop/test_scripts/_compile.sh
  tests/bsim/bluetooth/host/scan/start_stop/test_scripts/start_stop.sh
Labels: area: Bluetooth, area: Bluetooth Host, platform: nRF BSIM

#1853 [nrf noup] soc: nrf54l: Add custom section for KMU
  soc/nordic/nrf54l/CMakeLists.txt
  soc/nordic/nrf54l/kmu_push_area_section.ld
Labels: platform: nRF

#1898 Board/SoC extensions: additional changes
  doc/_extensions/zephyr/kconfig/__init__.py
  scripts/ci/check_compliance.py
  scripts/ci/test_plan.py
  scripts/list_boards.py
  scripts/west_commands/boards.py
Labels: area: Continuous Integration, area: West, area: Documentation Infrastructure, area: Coding Guidelines

#1900 [nrf noup] ci: add suit-dfu-test to test-spec
  .github/test-spec.yml
Labels: area: Continuous Integration

#1825 [nrf noup] drivers: flash: kconfig: nrf_rram region resolution
  drivers/flash/Kconfig.nrf_rram
Labels: area: Flash, trivial

#1862 [nrf fromlist] test: drivers: pwm: add fast PWM
  tests/drivers/pwm/pwm_api/boards/nrf54h20dk_nrf54h20_cpuapp_fast.overlay
  tests/drivers/pwm/pwm_api/testcase.yaml
Labels: area: PWM

#1904 [nrf fromlist] tests: drivers: adc: add adc_error_cases tests.
  tests/drivers/adc/adc_error_cases/CMakeLists.txt
  tests/drivers/adc/adc_error_cases/boards/nrf52840dk_nrf52840.overlay
  tests/drivers/adc/adc_error_cases/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  tests/drivers/adc/adc_error_cases/boards/nrf54l15pdk_nrf54l15_cpuapp.overlay
  tests/drivers/adc/adc_error_cases/prj.conf
  tests/drivers/adc/adc_error_cases/src/main.c
  tests/drivers/adc/adc_error_cases/testcase.yaml
Labels: area: ADC

#1908 [nrf fromlist] net: l2: openthread: set multicast loop by default
  modules/openthread/platform/radio.c
Labels: area: OpenThread

#1906 [nrf fromlist] tests: drivers: nrf_grtc: Add nRF54H20 PPR target
  tests/drivers/timer/nrf_grtc_timer/testcase.yaml
Labels: platform: nRF, trivial

#1905 [nrf fromlist] tests: drivers: adc_accuracy: parametrize expected acc…
  tests/drivers/adc/adc_accuracy_test/boards/frdm_kl25z.overlay
  tests/drivers/adc/adc_accuracy_test/boards/nrf52840dk_nrf52840.overlay
  tests/drivers/adc/adc_accuracy_test/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  tests/drivers/adc/adc_accuracy_test/boards/nrf54l15pdk_nrf54l15_cpuapp.overlay
  tests/drivers/adc/adc_accuracy_test/src/ref_volt.c
Labels: area: ADC

#1921 [nrf fromlist] samples: drivers: mbox: Allow coverage calculation
  samples/drivers/mbox/src/main.c
Labels: area: Samples, area: mbox
