Repository nrfconnect/sdk-zephyr, pull requests merged in 2024-05, with the labels that each got.

#1683 [nrf fromlist] kernel: banner: Make function weak
  kernel/banner.c
Labels: area: Kernel, trivial

#1689 [nrf fromtree]: tests: drivers: Extend test coverage for NRF GPIO driver
  tests/drivers/gpio/gpio_nrf/CMakeLists.txt
  tests/drivers/gpio/gpio_nrf/README.txt
  tests/drivers/gpio/gpio_nrf/prj.conf
  tests/drivers/gpio/gpio_nrf/src/main.c
  tests/drivers/gpio/gpio_nrf/testcase.yaml
Labels: area: GPIO

#1687 [nrf fromlist] boards: nordic: Add ADC to supported in nRF54L15 PDK
  boards/nordic/nrf54l15pdk/nrf54l15pdk_nrf54l15_cpuapp.yaml
Labels: platform: nRF, trivial

#1676 [nrf fromlist] ipc: ipc_service: icbmsg backend: workaround endpoint binding deadlock
  subsys/ipc/ipc_service/backends/ipc_icbmsg.c
Labels: area: IPC

#1688 [nrf fromtree] boards: nordic: nrf54h20dk: Update memory map
  boards/nordic/nrf54h20dk/nrf54h20dk_nrf54h20-memory_map.dtsi
Labels: platform: nRF

#1692 [nrf fromtree] MAINTAINERS: fix more paths
  MAINTAINERS.yml
Labels: bug, area: Process, trivial

#1686 [nrf fromtree] net: if: Extend the usage of rejoining the multicast groups
  subsys/net/ip/net_if.c
Labels: area: Networking

#1664 [nrf fromtree] bluetooth: mesh: Adapt BLOB IO to RRAM write size
  subsys/bluetooth/mesh/blob_io_flash.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#1679 [nrf fromtree] net: ipv6: mld: Fix improper reference drop
  subsys/net/ip/ipv6_mld.c
Labels: area: Networking

#1699 [nrf fromtree] kconfig: openthread: Fix PSA Key Ref config for RCP architecture
  subsys/net/l2/openthread/Kconfig
Labels: area: Networking, area: OpenThread

#1678 TF-M: Enable Protected Storage roll back protection and builtin keys
  boards/nordic/nrf54l15pdk/nrf54l15pdk_nrf54l15_cpuapp_ns_defconfig
Labels: area: Samples, platform: nRF

#1625 [nrf fromlist] drivers: nrf: rram: Support TF-M
  drivers/flash/soc_flash_nrf_rram.c
Labels: area: Flash

#1702 [nrf fromtree] samples: sensor: qdec: Run sample on nrf54h20
  samples/sensor/qdec/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  samples/sensor/qdec/sample.yaml
Labels: area: Samples, area: Sensors

#1715 [nrf fromtree] tests: drivers: Add more test cases for the i2c driver…
  tests/drivers/i2c/i2c_bme688/CMakeLists.txt
  tests/drivers/i2c/i2c_bme688/README.txt
  tests/drivers/i2c/i2c_bme688/prj.conf
  tests/drivers/i2c/i2c_bme688/src/main.c
  tests/drivers/i2c/i2c_bme688/src/sensor.c
  tests/drivers/i2c/i2c_bme688/src/sensor.h
  tests/drivers/i2c/i2c_bme688/testcase.yaml
Labels: area: I2C

#1714 [nrf fromtree] tests: drivers: Update uart_elementary suite with diff…
  tests/drivers/uart/uart_elementary/src/main.c
Labels: area: UART

#1704 [nrf fromtree] samples: subsys: settings: Run sample on nrf54h20
  samples/subsys/settings/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/subsys/settings/sample.yaml
Labels: area: Samples, area: Settings

#1716 posix: env: Fix 2 build warnings
  lib/posix/options/env.c
Labels: area: POSIX

#1707 [nrf fromlist] boards: nordic: nrf54h20dk: Add counter to the support…
  boards/nordic/nrf54h20dk/nrf54h20dk_nrf54h20_cpuapp.yaml
  boards/nordic/nrf54h20dk/nrf54h20dk_nrf54h20_cpurad.yaml
Labels: platform: nRF

#1717 [v2.6.99-cs2] boards: nordic: nrf54h20dk: Update memory map
  boards/arm/nrf54h20dk_nrf54h20/nrf54h20dk_nrf54h20-memory_map.dtsi
Labels: platform: nRF

#1734 [nrf fromlist] dt-bindings: pinctrl: nrf: allow for more ports
  include/zephyr/dt-bindings/pinctrl/nrf-pinctrl.h
Labels: area: Devicetree Binding, area: Pinctrl

#1724 [nrf fromlist] scripts: ci: test_plan: fix usage with files
  scripts/ci/test_plan.py
Labels: area: Continuous Integration

#1731 [nrf noup] samples/**/smp_svr: fix SB_CONFIG_PARTITION_MANAGER injection
  samples/subsys/mgmt/mcumgr/smp_svr/sample.yaml
Labels: area: Samples, area: mcumgr, trivial

#1709 [noup] test-spec: update boards paths for HWv2
  .github/test-spec.yml
Labels: area: Continuous Integration

#1718 [nrf fromlist] boards: nrf54h20dk: Add SUIT storage definition
  dts/common/nordic/nrf54h20.dtsi
Labels: area: Devicetree, platform: nRF

#1750 [nrf fromlist] samples: Bluetooth: use correct periodic advertising intervals
  samples/bluetooth/direction_finding_connectionless_tx/src/main.c
Labels: area: Samples, area: Bluetooth

#1747 [nrf fromlist] scripts: west_commands: runners: nrf_common: optional …
  scripts/west_commands/runners/nrf_common.py
Labels: area: West

#1753 [nrf fromtree] net: shell: Add random MAC address generation
  subsys/net/lib/shell/iface.c
Labels: area: Networking

#1751 [nrf fromlist] drivers: ieee802154: nrf5: sleep if idle when RxOnWhen…
  drivers/ieee802154/ieee802154_nrf5.c
Labels: platform: nRF, area: OpenThread, area: IEEE 802.15.4, bugfix

#1740 [nrf fromtree] tests: drivers: spi: spi_error_cases: Enable test exec…
  tests/drivers/spi/spi_error_cases/boards/nrf52840dk_nrf52840.overlay
  tests/drivers/spi/spi_error_cases/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  tests/drivers/spi/spi_error_cases/boards/nrf54l15pdk_nrf54l15_cpuapp.overlay
  tests/drivers/spi/spi_error_cases/src/main.c
  tests/drivers/spi/spi_error_cases/testcase.yaml
Labels: area: SPI

#1742 [nrf fromlist] wifi: utils: Get correct channel count
  subsys/net/l2/wifi/wifi_utils.c
Labels: area: Networking, area: Wi-Fi
