Repository nrfconnect/sdk-zephyr, pull requests merged in 2024-06, with the labels that each got.

#1756 [nrf fromtree] tests: drivers: counter: counter_nrf_rtc: Run test on …
  tests/drivers/counter/counter_nrf_rtc/fixed_top/testcase.yaml
Labels: platform: nRF, area: Counter

#1760 [nrf fromtree] samples: sysbuild: hello_world: fix broken references/…
  samples/sysbuild/hello_world/README.rst
Labels: area: Samples, area: Sysbuild, trivial

#1730 [nrf noup] Bluetooth: Mesh: Disable processing of ext ADV packets
  subsys/bluetooth/mesh/Kconfig
  subsys/bluetooth/mesh/adv_ext.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#1764 net: lwm2m: Fix NUM field on CoAP Block-Wise write
  subsys/net/lib/lwm2m/lwm2m_message_handling.c
Labels: area: LWM2M

#1739 [nrf fromlist] boards: nrf54h20dk: Add default DFU partition
  boards/nordic/nrf54h20dk/nrf54h20dk_nrf54h20-memory_map.dtsi
  boards/nordic/nrf54h20dk/nrf54h20dk_nrf54h20_cpuapp.yaml
Labels: platform: nRF

#1765 [nrf fromlist] net: wifi_shell: Resolve filter settings mismatch
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking, area: Wi-Fi

#1769 [nrf fromtree] tests: nordic: Enable I2C tests
  boards/nordic/nrf54h20dk/nrf54h20dk_nrf54h20_cpuapp.yaml
  tests/boards/nrf/i2c/i2c_slave/testcase.yaml
Labels: area: I2C, platform: nRF

#1772 [nrf noup] board: nordic: thingy53: Default to update only MCUboot type
  boards/nordic/thingy53/Kconfig.sysbuild
Labels: platform: nRF

#1771 [nrf fromtree] samples: basic: fade_led: add testing base on console …
  samples/basic/fade_led/sample.yaml
  samples/basic/fade_led/src/main.c
Labels: area: Samples

#1738 [nrf noup] boards: nordic: thingy53: Remove old SECURE_BOOT selection
  boards/nordic/thingy53/Kconfig.sysbuild
Labels: platform: nRF

#1775 scripts: nrf_common: Handle SUIT artifact
  scripts/ci/check_compliance.py
  scripts/west_commands/runners/core.py
  scripts/west_commands/runners/nrf_common.py
Labels: area: Continuous Integration, area: West, area: Coding Guidelines, bugfix

#1767 [nrf fromlist] manifest: update hal_nordic with nrfx_gpiote fix
  west.yml
Labels: manifest, manifest-hal_nordic

#1782 soc: nordic: configure run once for nrf54l15 and nrf54h20
  soc/nordic/soc.yml
Labels: platform: nRF, bugfix

#1780 [nrf noup] dts: nordic: LFXO crystal settings adjustment
  boards/nordic/nrf54h20dk/nrf54h20dk_bicr.dtsi
Labels: platform: nRF, trivial

#1754 [nrf fromlist] net: sockets_service: Fix thread failure
  subsys/net/lib/sockets/sockets_service.c
Labels: area: Networking, area: Sockets

#1786 [nrf fromlist] cmake: use SOC_ROOT for SoCs instead of BOARD_ROOT
  cmake/modules/kconfig.cmake
Labels: area: Build System, trivial

#1787 [nrf fromlist] wifi: utils: Get correct channel count
  subsys/net/l2/wifi/wifi_utils.c
Labels: area: Networking, area: Wi-Fi, trivial

#1788 [nrf fromtree] drivers: serial: nrfx_uarte: Use of legacy shim on RISCV
  drivers/serial/Kconfig.nrfx
  drivers/serial/Kconfig.nrfx_uart_instance
  drivers/serial/uart_nrfx_uarte.c
Labels: platform: nRF, area: UART

#1766 [nrf fromlist] doc: update Infocenter links to TechDocs links
  boards/nordic/nrf21540dk/doc/index.rst
  boards/nordic/nrf51dk/doc/index.rst
  boards/nordic/nrf51dongle/doc/index.rst
  boards/nordic/nrf52833dk/doc/index.rst
  boards/nordic/nrf52840dk/doc/index.rst
  boards/nordic/nrf52840dongle/doc/index.rst
  boards/nordic/nrf52dk/doc/index.rst
  boards/nordic/nrf5340_audio_dk/doc/index.rst
  boards/nordic/nrf5340dk/doc/index.rst
  boards/nordic/nrf9131ek/doc/index.rst
  boards/nordic/nrf9151dk/doc/index.rst
  boards/nordic/nrf9160dk/doc/index.rst
  boards/nordic/nrf9161dk/doc/index.rst
  boards/nordic/thingy52/doc/index.rst
  boards/nordic/thingy53/doc/index.rst
Labels: platform: nRF

#1778 [nrf noup] scripts: west_commands: build: Add NCS example repo to sys…
  scripts/west_commands/build.py
Labels: area: West, trivial

#1792 [nrf fromlist] samples: modules: canopennode: set bootloader in sampl…
  samples/modules/canopennode/sample.yaml
  samples/modules/canopennode/sysbuild.conf
Labels: area: Samples, area: CAN

#1795 [nrf fromlist] nordic: dts: Fix grtc interrupt line for secure nRF54L
  dts/arm/nordic/nrf54l15_cpuapp.dtsi
Labels: platform: nRF

#1796 [nrf fromtree] Bluetooth: Host: Avoid processing "no change" encryption changes
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth, area: Bluetooth Host

#1802 [nrf noup] samples: sysbuild: hello_world: support PM on nRF53
  samples/sysbuild/hello_world/sysbuild.cmake
Labels: area: Samples, area: Sysbuild

#1790 [nrf fromlist] sysbuild: clear local scope EXTRA_CONF_FILE variable
  share/sysbuild/cmake/modules/sysbuild_kconfig.cmake
Labels: area: Build System, area: Sysbuild, trivial

#1807 [nrf fromlist] west: update build extension command to use APP_DIR
  scripts/west_commands/build.py
Labels: area: West

#1797 [nrf fromlist] hal_nordic: Fix reserved PPI faulty logic
  modules/hal_nordic/nrfx/Kconfig
  modules/hal_nordic/nrfx/nrfx_glue.h
Labels: platform: nRF, bugfix

#1813 [nrf fromtree] scripts: west: flash: Fix issue with loading outdated …
  scripts/west_commands/flash.py
  scripts/west_commands/run_common.py
Labels: area: West

#1815 west flash run once cherry-picks
  soc/nordic/soc.yml
Labels: platform: nRF

#1822 [nrf fromtree] samples: drivers: adc: Allow coverage calculation.
  samples/drivers/adc/adc_dt/src/main.c
  samples/drivers/adc/adc_sequence/src/main.c
Labels: area: Samples, area: ADC

#1835 [nrf fromlist] usb: cdc_acm: Update log level only if UART log backen…
  subsys/usb/device/class/cdc_acm.c
  subsys/usb/device_next/class/usbd_cdc_acm.c
Labels: area: USB

#1833 [nrf fromtree] scripts: west_commands: runners: nrfutil: Only flash w…
  scripts/west_commands/runners/nrfutil.py
Labels: bug, area: West, trivial

#1836 [nrf fromlist] scripts: runners: nrf_common: Fix recover on 54H20
  scripts/west_commands/runners/nrf_common.py
Labels: area: West

#1818 [nrf fromlist] icbmsg: Allow deregistration of the endpoints
  subsys/ipc/ipc_service/backends/ipc_icbmsg.c
Labels: area: IPC

#1848 Fix dts watch cmake code
  cmake/modules/extensions.cmake
Labels: area: Build System

#1846 [nrf fromtree] Revert "tf-m: Silence harmless version warning"
  modules/trusted-firmware-m/CMakeLists.txt
Labels: area: TF-M, trivial

#1852 [nrf noup] boards: nordic: Turn off MRAM suspend for NRF54H20 DK
  boards/nordic/nrf54h20dk/CMakeLists.txt
  boards/nordic/nrf54h20dk/board.c
  modules/hal_nordic/nrfs/Kconfig
Labels: platform: nRF

#1843 [nrf fromtree] boards: nordic: nrf54h20dk: Counter and i2c are suppor…
  boards/nordic/nrf54h20dk/nrf54h20dk_nrf54h20_cpuppr.yaml
Labels: platform: nRF

#1856 [nrf noup] boards: nordic: Turn on NRFS globally
  modules/hal_nordic/nrfs/Kconfig
Labels: platform: nRF, trivial

#1859 [nrf noup] boards: nordic: By default turn off NRFS for ztest
  boards/nordic/nrf54h20dk/board.c
  modules/hal_nordic/nrfs/Kconfig
Labels: platform: nRF, trivial

#1865 [nrf fromtree] testsuite: coverage: don't lock scheduler in ISR
  subsys/testsuite/coverage/coverage.c
Labels: area: Testsuite

#1866 [nrf fromlist]: cmake: tf-m: create tfm_api dependency on tfm_s.hex
  modules/trusted-firmware-m/CMakeLists.txt
Labels: area: TF-M

#1867 [nrf noup] boards: nordic: Change NRFS logs to debug level
  modules/hal_nordic/nrfs/backends/nrfs_backend_ipc_service.c
  modules/hal_nordic/nrfs/dvfs/ld_dvfs.c
  modules/hal_nordic/nrfs/dvfs/ld_dvfs_handler.c
Labels: platform: nRF, bugfix

#1761 [nrf fromtree] drivers: ieee802154: nrf5: sleep if idle when RxOnWhen…
  drivers/ieee802154/ieee802154_nrf5.c
Labels: area: IEEE 802.15.4

#1868 [nrf noup] scripts: west_commands: build: Add ant to sysbuild list
  scripts/west_commands/build.py
Labels: area: West, trivial
