Repository nrfconnect/sdk-zephyr, pull requests merged in 2024-11, with the labels that each got.

#2114 [nrf noup] dfu: boot: mcuboot_shell: Prevent erasing active areas
  subsys/dfu/boot/mcuboot_shell.c
Labels: area: DFU, backport v3.7.99-ncs1-branch

#2213 [Backport v3.7.99-ncs1-branch] [nrf noup] dfu: boot: mcuboot_shell: Prevent erasing active areas
  subsys/dfu/boot/mcuboot_shell.c
Labels: Backport

#2211 [Backport v3.7.99-ncs1-branch] [nrf fromlist] soc: nordic: nrf54l15: fix APPROTECT handling
  modules/hal_nordic/nrfx/CMakeLists.txt
  soc/nordic/Kconfig
Labels: Backport

#2215 [nrf fromtree] linker: lto: Remove experimental label
  Kconfig.zephyr
Labels: backport v3.7.99-ncs1-branch

#2219 [Backport v3.7.99-ncs1-branch] [nrf fromtree] linker: lto: Remove experimental label
  Kconfig.zephyr
Labels: Backport

#2228 [Backport v3.7.99-ncs1-branch] [nrf fromlist] soc: nordic: nrf54l: tune configuration of DCDC regulator
  soc/nordic/nrf54l/soc.c
Labels: Backport

#2230 [nrf fromlist] drivers: serial: nrfx_uarte: Fix RX path without low p…
  drivers/serial/uart_nrfx_uarte.c
Labels: backport v3.7.99-ncs1-branch

#2200 [nrf fromlist] drivers: timer: grtc: Add LFPRC as the source of GRTC
  drivers/timer/nrf_grtc_timer.c
Labels: backport v3.7.99-ncs1-branch

#2232 [Backport v3.7.99-ncs1-branch] [nrf fromlist] drivers: serial: nrfx_uarte: Fix RX path without low p…
  drivers/serial/uart_nrfx_uarte.c
Labels: Backport

#2233 [Backport v3.7.99-ncs1-branch] [nrf fromlist] drivers: timer: grtc: Add LFPRC as the source of GRTC
  drivers/timer/nrf_grtc_timer.c
Labels: Backport

#2116 [nrf fromtree] soc: nordic: nrf53: SOC_NRF53_CPUNET_ENABLE should not…
  soc/nordic/nrf53/Kconfig
Labels: platform: nRF, backport v3.7.99-ncs1-branch

#2236 [Backport v3.7.99-ncs1-branch] [nrf fromtree] soc: nordic: nrf53: SOC_NRF53_CPUNET_ENABLE should not…
  soc/nordic/nrf53/Kconfig
Labels: Backport

#2234 [nrf fromtree] boards: nordic: nrf54l15dk: Fix references to pdk
  boards/nordic/nrf54l15dk/doc/index.rst
  tests/boards/nrf/qdec/boards/nrf54l15dk_nrf54l15_common.dtsi
  tests/boards/nrf/qdec/boards/nrf54l15dk_nrf54l15_cpuapp.overlay
  tests/boards/nrf/qdec/boards/nrf54l15dk_nrf54l15_cpuflpr.overlay
  tests/drivers/counter/counter_basic_api/boards/nrf54l15bsim_nrf54l15_cpuapp.overlay
  tests/drivers/counter/counter_basic_api/boards/nrf54l15dk_nrf54l15_cpuapp.overlay
  tests/drivers/spi/spi_controller_peripheral/README.txt
Labels: backport v3.7.99-ncs1-branch

#2167 [nrf noup] sample/smp_svr: nrf54l15dk test cases
  samples/subsys/mgmt/mcumgr/smp_svr/boards/nrf54l15dk_nrf54l15_cpuapp_ext_flash.overlay
  samples/subsys/mgmt/mcumgr/smp_svr/sample.yaml
Labels: backport v3.7.99-ncs1-branch

#2243 [Backport v3.7.99-ncs1-branch] [nrf fromlist] samples: sensor: qdec: change pins used for qdec nrf54h20dk
  samples/sensor/qdec/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  tests/boards/nrf/qdec/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
Labels: Backport

#2242 [Backport v3.7.99-ncs1-branch] [nrf noup] sample/smp_svr: nrf54l15dk test cases
  samples/subsys/mgmt/mcumgr/smp_svr/boards/nrf54l15dk_nrf54l15_cpuapp_ext_flash.overlay
  samples/subsys/mgmt/mcumgr/smp_svr/sample.yaml
Labels: Backport

#2251 [Backport v3.7.99-ncs1-branch] [nrf fromlist] drivers: nrfwifi: Fix recovery for SAP
  drivers/wifi/nrfwifi/Kconfig.nrfwifi
Labels: Backport

#2249 [nrf_fromlist] drivers: spi: nrfx_spim: set/clear pins retention
  drivers/spi/spi_nrfx_spim.c
Labels: backport v3.7.99-ncs1-branch

#2263 [nrf fromlist] drivers: pwm: nrfx: add pin retention
  drivers/pwm/pwm_nrfx.c
Labels: backport v3.7.99-ncs1-branch

#2261 [nrf noup] drivers: spi: dw: turn on FAST_ACTIVE1 domain
  drivers/spi/spi_dw.c
Labels: bugfix, backport v3.7.99-ncs1-branch

#2265 [Backport v3.7.99-ncs1-branch] [nrf_fromlist] drivers: spi: nrfx_spim: set/clear pins retention
  drivers/spi/spi_nrfx_spim.c
Labels: Backport

#2266 [Backport v3.7.99-ncs1-branch] [nrf fromlist] drivers: pwm: nrfx: add pin retention
  drivers/pwm/pwm_nrfx.c
Labels: Backport

#2268 [Backport v3.7.99-ncs1-branch] [nrf noup] drivers: spi: dw: turn on FAST_ACTIVE1 domain
  drivers/spi/spi_dw.c
Labels: Backport

#2047 [nrf fromtree] samples: boards: nordic: coresight_stm: Test STM dicti…
  samples/boards/nordic/coresight_stm/README.rst
  samples/boards/nordic/coresight_stm/pytest/test_stm.py
  samples/boards/nordic/coresight_stm/sample.yaml
Labels: area: Samples, area: Build System, area: Logging, platform: nRF, area: Continuous Integration, area: RISCV
