Repository nrfconnect/sdk-zephyr, pull requests merged in 2024-04, with the labels that each got.

#1599 [nrf fromlist] manifest: Update hal_nordic with DMA address check fix
  west.yml
Labels: manifest, manifest-hal_nordic

#1587 [nrf fromlist] boards: nrf54l15pdk_nrf54l15_cpuapp: add support for P…
  boards/arm/nrf54l15pdk_nrf54l15/nrf54l15pdk_nrf54l15_cpuapp_0_3_0.overlay
  boards/arm/nrf54l15pdk_nrf54l15/revision.cmake
Labels: platform: nRF

#1595 [nrf noup] dfu/boot/mcuboot fix img. confirmation in case of PARTITION_MANAGER
  subsys/dfu/boot/mcuboot.c
Labels: area: DFU

#1601 [nrf fromtree] net: lib: http: Correct http_client edge-case behavior
  subsys/net/lib/http/http_client.c
Labels: area: Networking

#1603 [nrf fromtree] tests: drivers: uart: uart_mix_fifo_poll: Add nRF54L15…
  tests/drivers/uart/uart_mix_fifo_poll/testcase.yaml
Labels: area: UART, trivial

#1592 Use help for DISABLE_MBEDTLS_BUILTIN info
  modules/mbedtls/Kconfig
Labels: area: Crypto / RNG

#1569 [nrf fromlist] scripts: snippets: Fix path output on windows
  scripts/snippets.py
Labels: trivial, bugfix

#1609 [nrf fromtree] samples: subsys: settings: Add configuration for nRF54L15
  samples/subsys/settings/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
  samples/subsys/settings/sample.yaml
Labels: area: Samples, area: Settings

#1591 Add dwell time range check, Add channel validity check
  include/zephyr/net/wifi_mgmt.h
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking, area: Wi-Fi

#1607 [nrf noup] entropy: Add fake entropy nRF PRNG driver needed to run Radio Test and BLE on nRF54h20
  boards/arm/nrf54h20dk_nrf54h20/nrf54h20dk_nrf54h20_cpuapp.dts
  boards/arm/nrf54h20dk_nrf54h20/nrf54h20dk_nrf54h20_cpurad.dts
  drivers/entropy/CMakeLists.txt
  drivers/entropy/Kconfig
  drivers/entropy/Kconfig.nrf_prng
  drivers/entropy/fake_entropy_nrf_prng.c
  dts/bindings/rng/nordic,nrf-prng.yaml
Labels: area: Devicetree Binding, platform: nRF, area: Crypto / RNG

#1610 [nrf fromlist] boards: nordic: nrf54h20dk: enable HWFC
  boards/arm/nrf54h20dk_nrf54h20/nrf54h20dk_nrf54h20_cpuapp.dts
  boards/arm/nrf54h20dk_nrf54h20/nrf54h20dk_nrf54h20_cpurad.dts
  boards/riscv/nrf54h20dk_nrf54h20/nrf54h20dk_nrf54h20_cpuppr.dts
Labels: platform: nRF, area: RISCV

#1613 [nrf noup] test-spec: include nrf54 boards in low-level test trigger
  .github/test-spec.yml
Labels: area: Continuous Integration

#1611 [nrf fromlist] tests: Extend tests coverage for UARTE driver
  tests/drivers/uart/uart_elementary/CMakeLists.txt
  tests/drivers/uart/uart_elementary/Kconfig
  tests/drivers/uart/uart_elementary/README.txt
  tests/drivers/uart/uart_elementary/boards/nrf5340dk_nrf5340_cpuapp.conf
  tests/drivers/uart/uart_elementary/boards/nrf5340dk_nrf5340_cpuapp.overlay
  tests/drivers/uart/uart_elementary/boards/nrf54h20dk_nrf54h20_common.dtsi
  tests/drivers/uart/uart_elementary/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  tests/drivers/uart/uart_elementary/boards/nrf54h20dk_nrf54h20_cpuapp_dual_uart.overlay
  tests/drivers/uart/uart_elementary/boards/nrf54l15pdk_nrf54l15_cpuapp.overlay
  tests/drivers/uart/uart_elementary/boards/nrf54l15pdk_nrf54l15_cpuapp_dual_uart.overlay
  tests/drivers/uart/uart_elementary/prj.conf
  tests/drivers/uart/uart_elementary/src/main.c
  tests/drivers/uart/uart_elementary/testcase.yaml
Labels: area: UART

#1626 Revert "[nrf fromlist] tests: Extend tests coverage for UARTE driver"
  tests/drivers/uart/uart_elementary/CMakeLists.txt
  tests/drivers/uart/uart_elementary/Kconfig
  tests/drivers/uart/uart_elementary/README.txt
  tests/drivers/uart/uart_elementary/boards/nrf5340dk_nrf5340_cpuapp.conf
  tests/drivers/uart/uart_elementary/boards/nrf5340dk_nrf5340_cpuapp.overlay
  tests/drivers/uart/uart_elementary/boards/nrf54h20dk_nrf54h20_common.dtsi
  tests/drivers/uart/uart_elementary/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  tests/drivers/uart/uart_elementary/boards/nrf54h20dk_nrf54h20_cpuapp_dual_uart.overlay
  tests/drivers/uart/uart_elementary/boards/nrf54l15pdk_nrf54l15_cpuapp.overlay
  tests/drivers/uart/uart_elementary/boards/nrf54l15pdk_nrf54l15_cpuapp_dual_uart.overlay
  tests/drivers/uart/uart_elementary/prj.conf
  tests/drivers/uart/uart_elementary/src/main.c
  tests/drivers/uart/uart_elementary/testcase.yaml
Labels: area: UART

#1616 [nrf fromtree] net: dns-sd: Do not use sockaddr struct directly
  subsys/net/lib/dns/dns_sd.c
Labels: area: Networking

#1543 [nrf fromtree] dts: arm: nordic: keep NFCT disabled by default
  dts/arm/nordic/nrf52832.dtsi
  dts/arm/nordic/nrf52833.dtsi
  dts/arm/nordic/nrf52840.dtsi
  dts/arm/nordic/nrf5340_cpuapp_peripherals.dtsi
Labels: platform: nRF

#1623 [nrf fromtree] Bluetooth: Audio: Add iso_chan to bt_bap_ep_info
  include/zephyr/bluetooth/audio/bap.h
  subsys/bluetooth/audio/bap_stream.c
Labels: area: Bluetooth, area: Bluetooth Audio

#1630 [nrf fromtree] tests: drivers: clock_control: Add nRF54L15 to platfor…
  tests/drivers/clock_control/clock_control_api/testcase.yaml
  tests/drivers/clock_control/nrf_clock_calibration/testcase.yaml
  tests/drivers/clock_control/nrf_lf_clock_start/testcase.yaml
  tests/drivers/clock_control/onoff/testcase.yaml
Labels: area: Clock control

#1631 [backport-ncs2.6][nrf noup] net: openthread: fix `otPlatCryptoPbkdf2GenerateKey` implementation
  modules/openthread/platform/crypto_psa.c
Labels: area: OpenThread

#1646 [nrf fromlist] boards: nordic: nrf54l15pdk: enable HWFC
  boards/arm/nrf54l15pdk_nrf54l15/nrf54l15pdk_nrf54l15_cpuapp-pinctrl.dtsi
  boards/arm/nrf54l15pdk_nrf54l15/nrf54l15pdk_nrf54l15_cpuapp.dts
Labels: platform: nRF

#1585 [nrf noup] modules: mbedtls: add PSA configurations
  modules/mbedtls/Kconfig.psa
Labels: area: Crypto / RNG

#1647 [nrf fromtree] drivers: Extend coverage for i2s driver
  tests/drivers/i2s/i2s_api/src/main.c
  tests/drivers/i2s/i2s_api/src/test_i2s_errors.c
Labels: area: I2S

#1639 [nrf fromlist] twister: pytest: hardware_adapter: adapt to nrfutil.
  scripts/pylib/pytest-twister-harness/src/twister_harness/device/hardware_adapter.py
Labels: area: Twister, trivial

#1617 [nrf fromlist] boards: nrf54l15pdk_nrf54l15_cpuapp: yaml for PDK 0.3.0
  boards/arm/nrf54l15pdk_nrf54l15/nrf54l15pdk_nrf54l15_cpuapp_0_3_0.yaml
Labels: platform: nRF

#1645 [nrf fromlist] wifi: shell: Support WPA auto personal security mode
  include/zephyr/net/wifi.h
  subsys/net/l2/wifi/wifi_mgmt.c
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking, area: Wi-Fi

#1627 [backport-ncs2.5][nrf fromtree] drivers: pinctrl_nrf: Configure QSPI IO3 pin as output…
  drivers/pinctrl/pinctrl_nrf.c
Labels: area: Pinctrl

#1655 [nrf noup] samples: psa_crypto: Remove support for Nordic boards
  samples/tfm_integration/psa_crypto/sample.yaml
Labels: area: Samples, area: TF-M, trivial

#1653 Revert "[nrf noup] Revert "net: openthread: Add PSA implementation for PBDKF2 genkey""
  modules/openthread/platform/crypto_psa.c
Labels: area: OpenThread

#1628 [backport-ncs2.6][nrf fromtree] drivers: pinctrl_nrf: Configure QSPI IO3 pin as output…
  drivers/pinctrl/pinctrl_nrf.c
Labels: area: Pinctrl

#1618 [nrf fromtree] drivers: pinctrl_nrf: Configure QSPI IO3 pin as output…
  drivers/pinctrl/pinctrl_nrf.c
Labels: area: Pinctrl

#1637 [nrf fromtree] tests: drivers: spi: Add negative test cases
  tests/drivers/spi/spi_error_cases/CMakeLists.txt
  tests/drivers/spi/spi_error_cases/boards/nrf52840dk_nrf52840.overlay
  tests/drivers/spi/spi_error_cases/boards/nrf54l15pdk_nrf54l15_cpuapp.overlay
  tests/drivers/spi/spi_error_cases/prj.conf
  tests/drivers/spi/spi_error_cases/src/main.c
  tests/drivers/spi/spi_error_cases/testcase.yaml
Labels: area: SPI

#1657 [nrf fromtree] drivers: clock_control: Update RC accuracy nRF devices
  drivers/clock_control/Kconfig.nrf
Labels: area: Clock control

#1658 [nrf fromlist] net: mgmt: Protect processing of iface data
  subsys/net/l2/wifi/wifi_nm.c
Labels: area: Networking, area: Wi-Fi

#1660 [nrf fromtree] Update accuracy mlt
  drivers/clock_control/Kconfig.nrf
Labels: trivial, area: Clock control

#1668 [nrf fromlist] net: wifi: Unicast frames statistics
  include/zephyr/net/net_stats.h
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking, area: Wi-Fi

#1662 [nrf fromtre] mcumgr/img_mgmt: CONFIG_MCUBOOT_BOOTLOADER_NO_DOWNGRADE fixes
  subsys/mgmt/mcumgr/grp/os_mgmt/src/os_mgmt.c
Labels: area: mcumgr, trivial

#1675 [nrf fromlist] boards: nordic: Add PWM support for LEDs on nRF54 DKs
  boards/arm/nrf54h20dk_nrf54h20/nrf54h20dk_nrf54h20-pinctrl.dtsi
  boards/arm/nrf54h20dk_nrf54h20/nrf54h20dk_nrf54h20_cpuapp.dts
  boards/arm/nrf54l15pdk_nrf54l15/nrf54l15pdk_nrf54l15_cpuapp-pinctrl.dtsi
  boards/arm/nrf54l15pdk_nrf54l15/nrf54l15pdk_nrf54l15_cpuapp.dts
  boards/arm/nrf54l15pdk_nrf54l15/nrf54l15pdk_nrf54l15_cpuapp_0_3_0.overlay
Labels: platform: nRF
