Repository nrfconnect/sdk-zephyr, pull requests merged in 2024-09, with the labels that each got.

#1974 [nrf fromtree] drivers: usb: common: nrf_usbd_common: Handle USB SoF …
  drivers/usb/common/nrf_usbd_common/nrf_usbd_common.c
Labels: area: USB

#1991 Update bsim, HW models & EDTT to version used upstream
  west.yml
Labels: manifest, manifest-edtt, manifest-nrf_hw_models, manifest-bsim, manifest-babblesim_ext_2G4_libPhyComv1, manifest-babblesim_base, manifest-babblesim_ext_2G4_modem_BLE_simple, manifest-babblesim_ext_2G4_phy_v1, manifest-babblesim_ext_libCryptov1

#1990 hal_nordic: Add missing EGU instances
  dts/common/nordic/nrf54h20.dtsi
  modules/hal_nordic/nrfx/Kconfig
  modules/hal_nordic/nrfx/nrfx_config.h
  soc/nordic/validate_base_addresses.c
Labels: platform: nRF

#1994 [nrf fromtree] twister: Pass device flash timeout to pytest-harness.
  scripts/pylib/pytest-twister-harness/src/twister_harness/device/hardware_adapter.py
  scripts/pylib/pytest-twister-harness/src/twister_harness/plugin.py
  scripts/pylib/pytest-twister-harness/src/twister_harness/twister_harness_config.py
  scripts/pylib/twister/twisterlib/harness.py
Labels: area: Twister

#1903 [nrf noup] scripts: west: build: Enable sysbuild by default globally
  scripts/west_commands/build.py
Labels: area: West

#2004 Revert "[nrf noup] dts: Select SoftDevice Controller DTS binding as d…
  dts/arm/nordic/nrf52805.dtsi
  dts/arm/nordic/nrf52810.dtsi
  dts/arm/nordic/nrf52811.dtsi
  dts/arm/nordic/nrf52820.dtsi
  dts/arm/nordic/nrf52832.dtsi
  dts/arm/nordic/nrf52833.dtsi
  dts/arm/nordic/nrf52840.dtsi
  dts/arm/nordic/nrf5340_cpunet.dtsi
  dts/arm/nordic/nrf54h20_cpurad.dtsi
  dts/arm/nordic/nrf54l15_cpuapp.dtsi
  dts/common/nordic/nrf54h20.dtsi
  dts/common/nordic/nrf54l15.dtsi
Labels: platform: nRF

#1989 [nrf fromtree] tests: bluetooth: tester: add nrf54h20 configs
  tests/bluetooth/tester/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  tests/bluetooth/tester/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
Labels: area: Bluetooth

#2001 [nrf fromtree] scripts: pylib: twister: fix missing newlines at handl…
  scripts/pylib/twister/twisterlib/handlers.py
Labels: area: Twister, trivial

#2005 [nrf fromtree] tests: drivers: Allow configurable i2c speed for bme68…
  tests/drivers/i2c/i2c_bme688/Kconfig
  tests/drivers/i2c/i2c_bme688/src/main.c
Labels: area: I2C

#2009 [nrf fromlist] boards: nordic: nrf54l15dk: enable HWFC
  boards/nordic/nrf54l15dk/nrf54l15_cpuapp_common.dtsi
  boards/nordic/nrf54l15dk/nrf54l15dk_nrf54l15_cpuflpr.dts
Labels: platform: nRF

#2002 [nrf fromtree] tests: drivers: Extend coverage for NRF GRTC timer
  tests/drivers/timer/nrf_grtc_timer/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  tests/drivers/timer/nrf_grtc_timer/src/main.c
Labels: platform: nRF

#1997 [nrf noup] wifi_mgmt: Add support for configuring PS exit strategy
  include/zephyr/net/wifi.h
  include/zephyr/net/wifi_mgmt.h
  subsys/net/l2/wifi/wifi_mgmt.c
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking, area: Wi-Fi

#2012 [nrf noup] mgmt: mcumgr: grp: img_mgmt: Add handling for QSPI XIP
  subsys/mgmt/mcumgr/grp/img_mgmt/Kconfig
  subsys/mgmt/mcumgr/grp/img_mgmt/src/img_mgmt.c
Labels: area: mcumgr

#1901 modules: hal_nordic: nrfx: add DPPI channel allocation for NRFE
  modules/hal_nordic/nrfx/nrfe_config.h
  modules/hal_nordic/nrfx/nrfx_glue.h
Labels: platform: nRF

#2019 [nrf fromtree] tests: bsim: run_parallel: Avoid escape sequences in xml
  tests/bsim/run_parallel.sh
Labels: trivial, platform: nRF BSIM

#2021 [nrf noup] wifi_mgmt: Fix comments for PS exit strategy choices
  include/zephyr/net/wifi.h
Labels: area: Networking, area: Wi-Fi

#2022 [nrf fromtree] samples: drivers: Enable SPI MEMORY driver samples for…
  samples/drivers/jesd216/boards/nrf54l15pdk_nrf54l15_cpuapp.overlay
  samples/drivers/spi_flash/boards/nrf54l15pdk_nrf54l15_cpuapp.overlay
Labels: area: Samples

#2018 [nrf fromlist] boards: nrf54h20dk: Fix settings partition
  boards/nordic/nrf54h20dk/nrf54h20dk_nrf54h20-memory_map.dtsi
Labels: platform: nRF

#2023 [nrf fromtree] tests: drivers: Verify NRF GPIO driver with GPIO_NRFX_…
  tests/drivers/gpio/gpio_nrf/README.txt
  tests/drivers/gpio/gpio_nrf/prj.conf
  tests/drivers/gpio/gpio_nrf/src/main.c
Labels: platform: nRF, area: GPIO

#2010 [nrf fromlist] drivers: timer: grtc: Switch GRTC clock source to LFXO
  drivers/timer/nrf_grtc_timer.c
Labels: area: Timer, platform: nRF

#2026 [nrf noup] nrf54l15dk patches needed for run smp_svr (MCUboot & BLE DFU)
  boards/nordic/nrf54l15dk/Kconfig.defconfig
Labels: platform: nRF, trivial

#2048 [nrf noup] test-spec: update CI-test-low-level
  .github/test-spec.yml
Labels: area: Continuous Integration

#2050 [nrf fromtree] tests: drivers: Add PPR support in NRF GRTC timer test
  tests/drivers/timer/nrf_grtc_timer/boards/nrf54h20dk_nrf54h20_cpuppr.overlay
Labels: platform: nRF
