Repository nrfconnect/sdk-zephyr, pull requests merged in 2025-08, with the labels that each got.

#3131 [nrf noup] samples: bluetooth: mesh: update stack sizes
  samples/bluetooth/mesh_provisioner/prj.conf
Labels: backport ncs-v3.1-branch

#3139 Revert "[nrf fromlist] drivers: timer: nrf_grtc_timer: Optimize to re…
  drivers/timer/nrf_grtc_timer.c
Labels: backport ncs-v3.1-branch

#3159 [nrf fromlist] openthread: Use OPENTHREAD instead of L2_OPENTHREAD in…
  modules/mbedtls/Kconfig.mbedtls
  subsys/logging/backends/Kconfig.spinel
Labels: bugfix, backport ncs-v3.1-branch

#3164 [nrf fromlist] boards: nordic: nrf54h20dk:…
  boards/nordic/nrf54h20dk/nrf54h20dk_nrf54h20_cpuapp.dts
  samples/drivers/jesd216/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  samples/drivers/spi_flash/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  tests/drivers/flash/common/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
Labels: backport ncs-v3.1-branch

#3174 [nrf fromlist] Bluetooth: Host: Add req/rsp l2cap validation
  include/zephyr/bluetooth/l2cap.h
  subsys/bluetooth/host/l2cap.c
Labels: backport ncs-v3.1-branch

#3176 [nrf fromlist] soc: nordic: Use default SYS_CLOCK_TICKS_PER_SEC for P…
  soc/nordic/nrf54h/Kconfig.defconfig.nrf54h20_cpuppr
  soc/nordic/nrf92/Kconfig.defconfig.nrf9280_cpuppr
Labels: backport ncs-v3.1-branch

#3095 drivers: adc: nrfx_saadc: Add support for SAADC internal sampling timer
  drivers/adc/adc_nrfx_saadc.c
Labels: backport ncs-v3.1-branch

#3183 [Backport ncs-v3.1-branch] Backport commits from #3094 and #3095.
  drivers/adc/adc_nrfx_saadc.c
  include/zephyr/dt-bindings/adc/nrf-saadc.h
Labels: Backport

#3196 [nrf fromtree] manifest: Update nRF hw models to latest
  west.yml
Labels: manifest, manifest-nrf_hw_models

#3218 [nrf fromtree] bluetooth: host: gatt: destroy key after hash calc com…
  subsys/bluetooth/host/gatt.c
Labels: backport ncs-v3.1-branch

#3050 [nrf fromtree] modules: hal_nordic: nrfs: Disabling subscription feature in the temp…
  drivers/sensor/nordic/temp/Kconfig
  modules/hal_nordic/nrfs/Kconfig
  modules/hal_nordic/nrfs/nrfs_config.h
  soc/nordic/nrf92/Kconfig
  tests/drivers/sensor/temp_sensor/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  west.yml
Labels: manifest, manifest-hal_nordic

#3217 [Backport ncs-v3.1-branch] [nrf fromlist] soc: nordic: Use default SYS_CLOCK_TICKS_PER_SEC for P…
  soc/nordic/nrf54h/Kconfig.defconfig.nrf54h20_cpuppr
  soc/nordic/nrf92/Kconfig.defconfig.nrf9280_cpuppr
Labels: Backport
