Repository nrfconnect/sdk-zephyr, pull requests merged in 2025-04, with the labels that each got.

#2678 NCSDK-32650: Revert incompatible memory changes
  boards/nordic/nrf54h20dk/nrf54h20dk_nrf54h20-memory_map.dtsi
Labels: bugfix

#2718 [nrf fromlist] net: openthread: Add missing error checks
  subsys/net/l2/openthread/openthread.c
Labels: backport v4.0.99-ncs1-branch

#2721 [Backport v4.0.99-ncs1-branch] [nrf fromlist] drivers: clock_control: nrf: Apply fix for nRF54L anomaly 30.
  drivers/clock_control/Kconfig.nrf
  drivers/clock_control/clock_control_nrf.c
Labels: Backport

#2723 [Backport v4.0.99-ncs1-branch] [nrf fromlist] net: openthread: Add missing error checks
  subsys/net/l2/openthread/openthread.c
Labels: Backport

#2715 [nrf fromtree] Bluetooth: Mesh: make corresponding group ID unique
  subsys/bluetooth/mesh/access.c
  tests/bsim/bluetooth/mesh/src/test_cdp1.c
Labels: backport v4.0.99-ncs1-branch

#2731 [Backport v4.0.99-ncs1-branch] [nrf fromtree] Bluetooth: Mesh: make corresponding group ID unique
  subsys/bluetooth/mesh/access.c
  tests/bsim/bluetooth/mesh/src/test_cdp1.c
Labels: Backport

#2741 [nrf fromlist] zperf: moving declaration of variable to top of function
  subsys/net/lib/zperf/zperf_shell.c
Labels: backport v4.0.99-ncs1-branch

#2728 [nrf noup] mgmt: mcumgr: Fix nRF5340 network core hook
  subsys/mgmt/mcumgr/CMakeLists.txt
  subsys/mgmt/mcumgr/Kconfig
  subsys/mgmt/mcumgr/bootutil_hooks/nrf53_hooks.c
  subsys/mgmt/mcumgr/grp/img_mgmt/Kconfig
Labels: backport v4.0.99-ncs1-branch

#2565 [nrf fromlist] drivers: clock_control: Add support for XOTUNE in nRF54L
  drivers/clock_control/clock_control_nrf.c
Labels: backport v4.0.99-ncs1-branch

#2732 [nrf fromlist] drivers: nrf_wifi: Fix SR co-ex RF switch configuration
  drivers/wifi/nrf_wifi/Kconfig.nrfwifi
Labels: backport v4.0.99-ncs1-branch

#2742 [Backport v4.0.99-ncs1-branch] [nrf fromlist] zperf: moving declaration of variable to top of function
  subsys/net/lib/zperf/zperf_shell.c
Labels: Backport

#2765 [nrf fromtree] west.yml: Update libmetal and open-amp cmake minimum v…
  west.yml
Labels: manifest, manifest-libmetal, manifest-open-amp, Backport

#2763 [nrf fromtree] west.yml: Update libmetal and open-amp cmake minimum v…
  west.yml
Labels: manifest, manifest-libmetal, manifest-open-amp

#2757 [Backport v4.0.99-ncs1-branch] drivers: flash: Optimize mspi_nor driver memory
  drivers/flash/flash_mspi_nor.c
  drivers/flash/flash_mspi_nor.h
  drivers/flash/flash_mspi_nor_quirks.h
Labels: Backport, bugfix

#2755 [Backport v4.0.99-ncs1-branch] [nrf fromlist] drivers: nrf_wifi: Fix SR co-ex RF switch configuration
  drivers/wifi/nrf_wifi/Kconfig.nrfwifi
Labels: Backport

#2750 [nrf fromtree] modules: nrf_wifi: spi: Implement frequency switching
  modules/nrf_wifi/bus/spi_if.c
Labels: backport v4.0.99-ncs1-branch

#2743 [nrf fromlist] drivers: spi: nrfx_spis: Fix spis120
  drivers/spi/spi_nrfx_spis.c
Labels: backport v4.0.99-ncs1-branch

#2767 [Backport v4.0.99-ncs1-branch] [nrf fromtree] modules: nrf_wifi: spi: Implement frequency switching
  modules/nrf_wifi/bus/spi_if.c
Labels: Backport

#2776 [nrf fromlist] soc: nordic: nrf54h: Fix s2ram
  soc/nordic/nrf54h/pm_s2ram.c
Labels: backport v4.0.99-ncs1-branch

#2784 [Backport v4.0.99-ncs1-branch] soc: nordic: Add missing flash runner config
  soc/nordic/soc.yml
Labels: Backport

#2791 [nrf fromlist] tests: drivers: Turn on HFCLK before LFCLK calibration in nRF devices
  tests/drivers/clock_control/nrf_clock_calibration/src/test_nrf_clock_calibration.c
Labels: backport v4.0.99-ncs1-branch

#2809 [nrf fromlist] drivers: flash: nrf_qspi_nor: Prevent CPU hang when XI…
  drivers/flash/nrf_qspi_nor.c
Labels: bug, backport v4.0.99-ncs1-branch

#2822 [nrf_fromlist] modules: hostap: Increase supplicant stack size
  modules/hostap/Kconfig
Labels: backport v4.0.99-ncs1-branch

#2813 [Backport v4.0.99-ncs1-branch] [nrf fromlist] drivers: flash: nrf_qspi_nor: Prevent CPU hang when XI…
  drivers/flash/nrf_qspi_nor.c
Labels: Backport
