Repository nrfconnect/sdk-zephyr, pull requests merged in 2025-01, with the labels that each got.

#2416 [Backport v3.7.99-ncs3-branch] remove custom jlink reset scheme for nrf54h20/nrf9280
  boards/nordic/nrf54h20dk/support/nrf54h20_cpuapp.JLinkScript
  boards/nordic/nrf54h20dk/support/nrf54h20_cpurad.JLinkScript
  boards/nordic/nrf9280pdk/support/nrf9280_cpuapp.JLinkScript
  boards/nordic/nrf9280pdk/support/nrf9280_cpurad.JLinkScript
Labels: Backport

#2418 [Backport v3.7.99-ncs3-branch] [nrf fromtree] tests: drivers: uart: async_api: Add nrf54h20 cpuppr and UARTE120 test
  tests/drivers/uart/uart_async_api/boards/nrf54h20dk_nrf54h20_cpuppr.overlay
  tests/drivers/uart/uart_async_api/sysbuild/vpr_launcher/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  tests/drivers/uart/uart_async_api/sysbuild/vpr_launcher/prj.conf
Labels: Backport

#2415 [nrf fromlist] drivers: pwm: fixes for fast PWM120
  drivers/pwm/pwm_nrfx.c
Labels: backport v3.7.99-ncs3-branch

#2424 [Backport v3.7.99-ncs3-branch] [nrf fromlist] drivers: pwm: fixes for fast PWM120
  drivers/pwm/pwm_nrfx.c
Labels: Backport

#2431 [nrf fromlist] arch: riscv: option to init custom hw stacked esf memb…
  arch/riscv/Kconfig
  arch/riscv/core/thread.c
  soc/nordic/common/vpr/soc_isr_stacking.h
Labels: backport v3.7.99-ncs3-branch

#2430 [nrf fromtree] kernel: timeout: ensure next timeout is set when abort…
  kernel/timeout.c
Labels: backport v3.7.99-ncs3-branch

#2445 manifest: Update nRF hw models
  west.yml
Labels: manifest, manifest-nrf_hw_models
