Repository nrfconnect/sdk-zephyr, pull requests merged in 2025-03, with the labels that each got.

#2513 [nrf fromlist] drivers: clock_control: nrf: Add workaround for XO sta…
  drivers/clock_control/clock_control_nrf.c
Labels: backport v3.7.99-ncs2-branch

#2592 [nrf fromtree] manifest: Update nRF hw models to latest
  west.yml
Labels: manifest, manifest-nrf_hw_models

#2610 Nrfs audiopll service from up
  modules/hal_nordic/nrfs/CMakeLists.txt
  modules/hal_nordic/nrfs/Kconfig
  modules/hal_nordic/nrfs/nrfs_config.h
  soc/nordic/nrf54h/Kconfig
  west.yml
Labels: manifest, manifest-hal_nordic
